<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>房东首页</title>
    <link rel="stylesheet" type="text/css" href="/css/login.css" />
</head>
<body>
<div th:replace="fragments/header :: header">...</div>
<form id="form" action="/common/login"  method="post">
    账号：<input type="text" name="username" /><br/><br/><br/>
    密码：<input type="text" name="password" /><br/>
    <input type="submit" value="登录">
    <input type="reset" value="取消">
</form>
<div th:replace="~{fragments/footer :: footer}">...</div>
</body>
</html>