<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>房东首页</title>
    <link rel="stylesheet" type="text/css" href="/css/landlord/index.css" />
</head>
<body>
<div th:replace="fragments/header :: header">...</div>
<div class="name_box">-- 房源托管步骤 --</div>
<div class="step_list">
    <div class="step">
        <img src="/images/step1.jpg" class="step_img" />
        <div class="title">提交委托信息</div>
        <div class="text">提交基本信息在线委托，或直接拨打委托热线</div>
    </div>
    <div class="step">
        <img src="/images/step2.jpg" class="step_img" />
        <div class="title">与管家沟通</div>
        <div class="text">指派专属管家与您在线沟通</div>
    </div>
    <div class="step">
        <img src="/images/step3.jpg" class="step_img" />
        <div class="title">制定出租方案</div>
        <div class="text">专属管家上门实勘报价，制定出租委托方案</div>
    </div>
    <div class="step">
        <img src="/images/step4.jpg" class="step_img" />
        <div class="title">成为业主</div>
        <div class="text">签署出租委托协议，享受管理服务</div>
    </div>
</div>
<div class="clear_box"></div>
<div class="name_box">-- 房源托管类型 --</div>
<div class="product_list">
    <a class="box_list" href="">
        <img src="/images/img1.jpg" class="img_list" />
        <div class="title">友家托管</div>
        <div class="text">
            <p>单间出租，适用于毛坯、老旧、简装房屋</p>
            <p>2居及以上，租约两年起</p>
        </div>
        <div class="more">了解详情</div>
    </a>
    <a class="box_list">
        <img src="/images/img2.jpg" class="img_list" />
        <div class="title">整租托管</div>
        <div class="text">
            <p>整套出租，适用于毛坯、老旧、简装房屋</p>
            <p>1居及以上，租约两年起</p>
        </div>
        <div class="more">了解详情</div>
    </a>
    <a class="box_list">
        <img src="/images/img5.jpg" class="img_list" />
        <div class="title">豪宅托管</div>
        <div class="text">
            <p>定制出租方案，尊享专业服务</p>
            <p>全城1%高端楼盘</p>
        </div>
        <div class="more">了解详情</div>
    </a>
</div>
<div class="clear_box"></div>
<div class="name_box">-- 房东展示栏 --</div>
<div class="box" id="box">
    <div class="box1">
        <div class="picbox" style="display:block;">
            <img src="/images/person1.jpg" class="person_img" />
            <img src="/images/room1.jpg" class="room_img" />
            <div class="content">
                <div class="content_title">一家三口定居香港，他说北京的房子托管后很安心</div>
                <div class="content_name">皮先生|北京业主</div>
                <div class="content_text">
                    房屋的意义是更好的包容生活，而不是束缚在一隅之地，屋脊之下
                    不拘泥于屋檐下的茶米油盐，世界之大随心流浪。
                    愿你有冲出舒适区的好奇心和勇气，也愿你有踏实的后盾、省心的选择。
                    4年租否业主，定居香港
                    她是大家心目中的完美女性，
                    活出了人人羡慕的模样。
                    独立人格，充实自我，
                    也有一家三口的美满生活。
                    她曾留学英国，又工作于北京国企。
                    她也曾四海漂泊，随夫游历。
                    如今，她定居香港，是一位理财顾问。
                    说起刚离开北京的日子
                    结婚后，由于先生从事科研工作，时常要去国外进行学术交流，我便辞去北京的工作，一同随行。
                    那是我在北京的第1年，也是我们在北京买房的第1年。在即将稳定的时候，选择了漂泊，我却从未后悔。
                    丈夫去到哪所大学，我便奔去哪里的图书馆充实自己。在离开北京的很长一段时间，我常驻的两个地点是香港大学和悉尼大学的图书馆。期间，我报考了ACCA英国特许会计师公会的资格考试，并于2015年通过所有14门考试，成为一名国际注册会计师。2016年顺利进入香港中环一家会计师事务所工作。
                    我相信，人生没有止境，安稳的生活是对自己的馈赠，可随心流浪，拥有精神食粮则是创造生活的根源。
                    房产投资小心得
                    当年在北京买房时，我们的思路是，在可承受的预算内，主要考虑以下几点：
                    1. 交通必须方便
                    2. 有成熟的社区，生活便利
                    3. 有潜在的升值空间，便于卖出
                    当时决定买下现在的房子，很大一个原因是我们得知接下来的两年内，紧邻小区的金台路地铁站和朝阳公园地铁站将会开通。而地铁的开通，房价升值几乎已经成了一条定律。因此我们在看了一次房后，就交了定金，决定买下。
                    把京城的家交给租否
                    买下北京的房子后，我们并没有自住过，一直用于出租。
                    我们的第一个租客是北京本地的生意人，因为家里孩子在附近上学，便租下了房子。租户是本地人，对北京的一切都比较熟悉，所以基本没有麻烦过我们。之后租户的小孩升到其它区读书，就不再续约了。
                    房子收回来后，我开始重新寻找租户，过程中得知了租否，可以做房屋托管。我很感兴趣，主要原因是因为我们不想在出租房子这件事情上耗费太多的时间和精力，尽管上一位租户还算省心，但面对收房时的房屋卫生问题、租户续约问题等，作为业主都需要再次操心，况且我们长期在外，很多事情不能及时处理。
                    在接下来的两年里，事实证明我们选择租否是明智的。
                    首先，租否保证了我们房客的素质，我们的管家小付告诉我们，房子租给了德国使馆的两位老师，我们的房子得到了很好的爱护。
                    其次，管家式的服务也让租客得到了很好照顾。我们身在外地，如果租客遇到问题，我们并不能马上回去帮他们解决。有了管家，租客任何问题都可以联络管家。这样实现了业主和租户的双赢。
                    最后，租否每次的房租都准时打到我们卡上，两年来从没有拖欠过，让我们感受到了品牌的信誉。
                    因为过去两年很好的托管体验，我们决定继续和租否续约。专业的事交给专业的人去做，把房子交给租否打理我们很放心。
                    如今的从容生活
                    随行游历后，我先生留在香港任教，我也顺利进入香港的会计师事务所工作。而后有了宝宝，我暂时辞掉了事务所高强度的工作，想修养一段时间，身体恢复好再工作。一个机缘巧合让我找到了现在理想的职业，可以平衡家庭和事业。因为身边的同学和朋友都陆续生了宝宝，且不断向我咨询香港的保险产品，而我自己也正好需要给宝宝上保险，就这样去考了香港的保险牌照，加入了香港最大规模的保险公司做理财顾问。
                    我很喜欢自己现在的人生状态，在理想的城市生活，有一个1岁半的可爱宝宝。
                    早上，我会带着宝宝去playgroup上课,下午乘着宝宝午休，我会回复一些工作邮件和信息，或者做做旅游攻略。别看我家宝宝只有1岁半，我们可是经常一起出游，亲子游是我很喜欢的家庭项目之一。今年暑假，我们全家还一起去了澳洲。
                    专业的人做专业的事，一直是我信奉的理念，也因此，我有更集中的时间陪伴宝宝，回归生活。
                    后记
                    你们要是问我
                    会不会想念在京城的家？
                    一天都未自住过可不可惜？
                    那我只能笑着告诉你，
                    没有担心就没有挂念，
                    感谢租否的省心选择，
                    让我能够安心闯荡，
                    追逐自己理想的生活。
                </div>
            </div>
        </div>
        <div class="picbox">
            <img src="/images/person4.jpg" class="person_img" />
            <img src="/images/room2.jpg" class="room_img" />
            <div class="content">
                <div class="content_title">我要去环游世界，租否帮我看家护院</div>
                <div class="content_name">三三先生|深圳业主</div>
                <div class="content_text">
                    今天业主故事的主角徐阿姨，年轻时是一名法语翻译，退休后继续满世界潇洒。今年 65 岁的她，坐过直升机穿越大峡谷，和非洲孩子玩成一片，QQ 昵称叫“大脸猫”，还会调皮地管老伴儿叫，“亲”。
                    心态年轻不？
                    让我们听听她自己怎么说——
                    徐阿姨说
                    我们家最好的时候，就是你李叔叔在做饭。
                    我挺喜欢这样。
                    我们俩都是学外语出身，我24岁进了铁路。他常年在国外工作，所以以前家务主要是我一个人做。咱们中国现在在非洲做的很多项目，就是他们这一辈人开拓的市场。
                    今年春节他退休后，才开始做一些家务。但他主要的工作是——去森林公园走步、游泳、跟同学聚会，现在还死乞白赖地拉着我去旅游。
                    以前我们两个人在国外的大使馆工作过，走过了欧洲和非洲的一些地方。
                    但工作中的假期，和纯粹的旅游还是不一样的。退休后没有任何工作打扰，心能完全沉浸在风景里面。
                    从事铁路工作的徐阿姨收集了各种铁路模型，这是欧洲之星列车冲出英吉利海峡海底隧道的一瞬间。
                    我到哪去旅游吧，就希望带回来一件有故事的东西。
                    你看这个小金字塔，它不值钱，但有个故事。
                    我去埃及时逛小摊，跟当地人用法语聊天。一个摆摊的黑人跑过来说“Hi mama”（他们管年纪大的女性都叫 mama），临走时他拿了这个小金字塔来，非要送给我。
                    虽然只是个小东西，但我感动了半天。我觉得我们以前在非洲做的很多工作都没有白做，绝大部分非洲人对中国人还是非常友好的。
                    这个西班牙人做的大帆船，是你叔叔 80 年代带回来的，600 法郎，当时还挺贵的。不能托运，他就抱着这个大帆船上了飞机，空姐还专门腾出一个座位来放这条船。
                    回来以后哎呀我好喜欢啊。
                    船旁边我配了我们从各地带回来的贝壳，有鹦鹉螺，有东非海里的，还有咱们北戴河的。
                    家里的陈列柜摆满了两人从世界各地带回的纪念品
                    我不认为我是旅游达人，我也不在乎去过多少个国家。我更注重的是到一个地方，感受它的风土人情，和当地人聊天，体验当地最特别的东西，而不是去每个地方摆 pose 照个相。
                    我们去科罗拉多大峡谷，蝙蝠多得不得了，蝙蝠的粪便有个重要作用——香水里的用料。我说那一定要买一个。
                    我还在大峡谷坐了直升机，从直升机上看大峡谷才最震撼，我特喜欢这种东西，我把钱都花在这了。
                    这本画册是我从台北故宫买回来的，很多东西旅游的时候看不出，往往后续的思考、了解关联的故事，会带来更大的快乐。
                    人在中国这个环境里会比较浮躁，很难静下来看一些东西。每次旅游回来，我都会静下心来，写下我的经历和感受。
                    人年纪一大，每个人恨不得天天坐那看《养生堂》。我很少看，我觉得这种知识你应该有，但不应该被圈进去。
                    我参加了一个国际上比较流行的“方块舞”，8 个人一组，按照口令员的口令去变换队形。很活泼的一种游戏，是为了年纪大的人预防老年痴呆编的，会让你慢下来的脑子去动。
                    我出租房子已经七八年了，之前不知道租否。租客经常换来换去的，因为我经常出差或者旅游，心里特别不踏实。
                    上次我去越南玩，玩得兴冲冲的，突然租户打电话来说，阿姨你们家暖气老也不热，我们要搬走了！我急得不得了，又给我儿子打电话去处理，玩都没玩好。
                    后来链家的中介给我介绍了租否，说能把房子的一切都管理起来。刚开始我还不信，以前每次不都得让我去签字啊这个那个的吗？
                    但你们真的做到了。
                    现在房子放在租否一年多了，管家小田会随时通过微信跟我沟通，非常方便，再也没用我回去折腾过。
                    我还有另一个房子在出租，等到期了我也打算转给租否了。我跟不少中介打过交道，对比之下租否是我可以信任的公司。
                    出去玩也不用再惦记房子了，就好像没有房子我每月就管拿钱。月底突然来了一笔钱，我才想起我房子还在那出租，哈哈。
                    你们把细小的地方都照顾到了，甚至我没想到的地方。这点我非常感谢租否的年轻人。
                </div>
            </div>
        </div>
        <div class="picbox">
            <img src="/images/person3.jpg" class="person_img" />
            <img src="/images/room3.jpg" class="room_img" />
            <div class="content">
                <div class="content_title">这位建筑师花了15万装修房子，然后交给了租否托管</div>
                <div class="content_name">狸先生|上海业主</div>
                <div class="content_text">
                    他，曾是北京市建筑设计研究院二院五所的设计总监、副所长，作品包括北京奥运中心区下沉花园大红门、华侨城二期住宅区、朝阳东坝小学等等，现在自己创立了一家建筑设计事务所。
                    这次把自家的老房子交给租否托管之前，他花了15万元重新装修——全套橱柜，净水器，入墙式马桶……
                    你可能不解，房子都要租出去了，为啥还要花这么大精力装修呢？从事建筑设计的他，又是为什么选择租否？来听听他怎么说——
                    花15万装修，值吗？
                    实话说，如果这个房子在四环、五环边上，我都不会这么装修的。
                    这个房子在西四，二环里，离金融街很近，东边又是后海。那一带房子挺少的，楼房就更少了，因为是学区房，现在应该在 15 到 20 万一平。
                    所以我想把它装修得好一点，能匹配周边金融街的人群，也对得起这个地段。
                    本来我妈说花 2 万，刷个墙，也能租出去。最后我用了 4 个月时间，花了 15 万装修。
                    原先窗户有点漏风，也不隔音，保暖有问题，空间也不够舒展。诸如此类的毛病，我都要把它解决了，就能给客户带来一个最好的生活体验。
                    这个成本其实很难再短时间内把它给摊薄了，因为租 6000 和 7000，一年也就多 1 万块钱。
                    我不是把钱看得很重要，但我想的是，不装修可能也能租出去，但出租得慢一点，匹配您的客户可能也不会太好。
                    我装修的时候还不知道租否，等快装完了想出租时，去链家一问才知道。链家跟我说租否有一个产品，可以把老旧房子改造得特好，然后租给比较好的租客。这和我想的一致，早知道有这种模式，我可能就不会自己装修了。
                    好在你们今年有了新的业主直租，装修好的房子也可以给租否托管了。
                    把好房子，介绍给好客户
                    房子挂了三天就租出去了。我回去搬走沙发时，见过那两个租客，都是金融街的职员，一看人家水准就是比较显档次，聊天谈吐也不凡。
                    你会发现，好的房子能匹配好的租户，他租了以后，也不会给你破坏。
                    租户素质越高，房子的风险就越低。比如他可能不会往马桶里乱扔东西，也就不需要您老去修马桶。
                    我觉得租否是看对方向了，你们强调的是供需关系。其实大量租户他是租不到他想要的房子的，只能将就。业主呢，又愁找不到好的租户。你们正好提供了一个高端的服务，把我的好房子介绍给好客户。
                    我之前真没想到有这么一个服务，真的挺好的，而且我特别愿意给这部分钱。
                    专业的人干专业的事儿
                    以我理解，租否不是一个单方介绍的中介，而是一个服务提供商，这个很重要。你们跟房东在一起会形成一个立体、全方位的服务，而不是原来那种合同上对立的方式。
                    和租否签约时，给我印象最深的是，全都网上支付。
                    这个年头什么最火？肯定互联网最火，你们是拥抱互联网挺深入的一个，太可怕了，都不需要再草拟任何东西了。
                    这个对租否来说特别有用处。第一个量太大了，需要复制，一复制就节省了大量签约的成本。第二个，信息快速准确性，都在网上即时生成的，就不会有信息不对称。第三个，他给业主展示的东西太多了。您看我上租否的 APP，我看了好多房子在那儿摆着，其实都比我设计的好，真的。
                    社会要分工，要有相应的服务，专业的人干专业的事儿。不要觉得自己什么都能干，自己只要做好判断就行了，我判断租否能帮我做这件事儿。
                </div>
            </div>
        </div>
        <div class="shadow"></div>
        <div class="picbtn" id="btn">
            <a href="javascript:void(0)" class="act"></a>
            <a href="javascript:void(0)"></a>
            <a href="javascript:void(0)"></a>
        </div>
    </div>
</div>
<div th:replace="~{fragments/footer :: footer}">...</div>
</body>
<script type="text/javascript">
    window.onload = function(){
        var oBox = document.getElementById('box');
        var oBtn = document.getElementById('btn');
        var aBtn = oBtn.getElementsByTagName('a');
        var aPicText = getByclass('picbox', oBox);
        for (var i = 0; i < aBtn.length; i++) {
            aBtn[i].index = i;
            aBtn[i].onmouseover = function() {
                for (var n = 0; n < aBtn.length; n++) {
                    aPicText[n].style.display = "none";
                    aBtn[n].className = '';
                }
                aPicText[this.index].style.display = "block"
                this.className = 'act';
            }
            aBtn[i].onclick = function() {
                for (var n = 0; n < aBtn.length; n++) {
                    aPicText[n].style.display = "none";
                    aBtn[n].className = '';
                }
                aPicText[this.index].style.display = "block"
                this.className = 'act';
            }
        }
        function getByclass(sName, oParent) {
            var obj = oParent.getElementsByTagName('*');
            var result = [];
            for (var i = 0; i < obj.length; i++) {
                if (obj[i].className == sName) {
                    result.push(obj[i]);
                }
            }
            return result;
        }
        setInterval(function(){
            for (var n = 0; n < aBtn.length; n++) {
                if(aPicText[n].style.display == 'block' && aBtn[n].className == 'act'){
                    aPicText[n].style.display = "none";
                    aBtn[n].className = '';
                    if(n==aBtn.length-1){
                        aPicText[0].style.display = "block";
                        aBtn[0].className = 'act';
                    }else{
                        aPicText[n+1].style.display = "block";
                        aBtn[n+1].className = 'act';
                    }
                    break;
                }
            }
        },5000);
    }
</script>
</html>