<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>房东个人主页</title>
    <link rel="stylesheet" type="text/css" href="/css/landlord/info.css" />
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<div th:replace="fragments/header :: header">...</div>
<div class="left">
    <ul class="menu">
        <li><img src="/images/icon4.png" /><a th:href="@{/house/showNew}">发布新房源</a></li>
        <li><img src="/images/step4.jpg" /><a th:href="@{/house/show}">房源管理</a></li>
        <li><img src="/images/step3.jpg" /><a>合同管理</a></li>
        <li><img src="/images/icon1.png" /><a>评价管理</a></li>
        <li><img src="/images/icon9.png" /><a>反馈管理</a></li>
        <li><img src="/images/step1.jpg" /><a>信息管理</a></li>
        <li><img src="/images/icon8.png" /><a>钱包管理</a></li>
        <li><img src="/images/step2.jpg" /><a th:href="@{/landlord/chat}">联系管家</a></li>
    </ul>
</div>
<div class="right">
    <div class="house-manager">
        <div th:each="house:${houses}" th:if="${house != null}" id="house-box">
            <div class="picbox" th:if="${house.urls != null}">
                <img src="/images/icon3.png" class="pre" />
                <div>
                    <div th:each='url,userStat:${house.urls.split(",")}' class="pics" th:name="${userStat.size}">
                        <img th:if="${userStat.index ==0 }" th:src="@{/file/{imgname}(imgname=${url})}" class="active" th:alt="${userStat.index}" style="display:block;"/>
                        <img th:if="${userStat.index !=0 }" th:src="@{/file/{imgname}(imgname=${url})}" class="house_img" th:alt="${userStat.index}" style="display: none;"/>
                    </div>
                </div>
                <img src="/images/icon5.png" class="next" />
            </div>
            <div class="content">
            </div>
            <div class="house-operation">
                <a th:href="@{/house/showUpdate?(id=${house.houseId})}">更新</a>
                <a th:href="@{/house/deleteHouse?(id=${house.houseId})}">删除</a>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{fragments/footer :: footer}">...</div>
</body>
<script type="text/javascript">
    $(".pre").click(function () {
        var parent = $(this).next();
        var curr = parent.find(".active");
        var ob = null;
        if(curr.attr("alt")-1 < 0) {
            ob = parent.find("img:eq("+(parent.find("div:eq(0)").attr("name")-1)+")");
        }
        else{
            ob = parent.find("img:eq("+(curr.attr("alt")-1)+")");
        }
        ob.attr("class","active");
        ob.css("display","block");
        curr.attr("class","house_img");
        curr.css("display","none");
    });

    $(".next").click(function () {
        var parent = $(this).prev();
        var curr = parent.find(".active");
        var ob = null;
        var len = parent.find("div:eq(0)").attr("name");
        if((parseInt(curr.attr("alt"))+1) >= len) {
            ob = parent.find("img:eq(0)");
        }
        else{
            ob = parent.find("img:eq("+(parseInt(curr.attr("alt"))+1)+")");
        }
        ob.attr("class","active");
        ob.css("display","block");
        curr.attr("class","house_img");
        curr.css("display","none");
    });
</script>
</html>