<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>合同生成页面</title>
    <link rel="stylesheet" href="/css/jquery-labelauty.css">
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="/js/jquery-labelauty.js"></script>
    <link rel="stylesheet" href="/css/manager/show_contract.css" />
</head>
<body>
<div th:replace="fragments/header :: header">...</div>
<form method="post" th:action="@{/common/manager/contract/updateNew}">
    <div class="left-box">
        <div th:if="${house != null}"  class="house-box">
            <div class="picbox" th:if="${house.urls != null}">
                <img src="/images/icon3.png"  style="visibility: hidden;" class="pre" th:if="${!house.urls.contains(',')}" />
                <img src="/images/icon3.png"  class="pre" th:if="${house.urls.contains(',')}" />
                <div class="box">
                    <div th:each='url,userStat:${house.urls.split(",")}' class="pics" th:name="${userStat.size}">
                        <img th:if="${userStat.index ==0 }" th:src="@{/file/{imgname}(imgname=${url})}" class="active" th:alt="${userStat.index}" style="display:block;"/>
                        <img th:if="${userStat.index !=0 }" th:src="@{/file/{imgname}(imgname=${url})}" class="house_img" th:alt="${userStat.index}" style="display: none;"/>
                    </div>
                </div>
                <img src="/images/icon5.png" class="next" style="visibility: hidden;" th:if="${!house.urls.contains(',')}" />
                <img src="/images/icon5.png" class="next" th:if="${house.urls.contains(',')}" />
            </div>
            <div class="clear-box"></div>
            <div class="content">
                <p>
                    <b th:text="${house.name}"></b>
                </p>
                <p>
                    <span th:text="${house.money}"/>元/月
                    <span th:text="${house.area}"/>m&sup2;
                    朝<span th:text="${house.orientation}"/>
                </p>
                <p>
                    <span th:switch="${house.type}">
                        <b th:case="0">友家托管</b>
                        <b th:case="1">整租托管</b>
                        <b th:case="0">豪宅托管</b>
                    </span>
                    <span th:switch="${house.cycle}">
                        <b th:case="1">日付</b>
                        <b th:case="30">月付</b>
                        <b th:case="90">季付</b>
                        <b th:case="180">半年付</b>
                        <b th:case="365">年付</b>
                    </span>
                </p>
                <p>
                    地址：<span th:text="${house.address}"/>
                </p>
            </div>
        </div>
    </div>
    <div class="right-box">
        <div class="contract-box">
            <p>
                <input type="hidden" th:value="${contract.contractId}" />
                起租时间：<span th:text="${contract.stime}"/>&nbsp;&nbsp;
                结束时间：<span th:text="${contract.etime}"/>
            </p>
            <p>
                房东操作状态：
                <span th:if="${contract.landlordOperation == 0}">未处理</span>
                <span th:if="${contract.landlordOperation == 1}">完成</span>
                <span th:if="${contract.landlordOperation == 2}">同意</span>
                <span th:if="${contract.landlordOperation == 3}">拒绝</span>
                &nbsp;&nbsp;租客操作状态：
                <span th:if="${contract.tenantOperation == 0}">未处理</span>
                <span th:if="${contract.tenantOperation == 1}">完成</span>
                <span th:if="${contract.tenantOperation == 2}">同意</span>
                <span th:if="${contract.tenantOperation == 3}">拒绝</span>
                &nbsp;&nbsp;合同类型：
                <span th:if="${contract.type == 0}">租房</span>
                <span th:if="${contract.type == 1}">退房</span>
                &nbsp;&nbsp;合同状态：
                <span th:if="${contract.status == 0}">申请中</span>
                <span th:if="${contract.status == 1}">创建中</span>
                <span th:if="${contract.status == 2}">签约中</span>
                <span th:if="${contract.status == 3}">付款中</span>
                <span th:if="${contract.status == 4}">签约完成</span>
                <span th:if="${contract.status == 5}">正常结束</span>
                <span th:if="${contract.status == 6}">毁约申请中</span>
                <span th:if="${contract.status == 7}">退款处理中</span>
                <span th:if="${contract.status == 8}">毁约结束</span>
            </p>
            <p><a th:href="@{/contract/download?(url=${contract.file})}">下载合同</a></p>
        </div>
        <div class="tenant-box">
            <p><a>
                <img class="head" th:if="${tenant.head==null}" src="/images/head.jpg" alt="头像" style="width:40px;height:40px;object-fit: cover;"/>
                <img class="head" th:if="${tenant.head!=null}" th:src="@{/file/{imgname}(imgname=${tenant.head})}" alt="头像" style="width:40px;height:40px;object-fit: cover;"/>
                <span th:text="${tenant.username}"/>
                <span th:if="${tenant.sex == 0}">女</span>
                <span th:if="${tenant.sex == 1}">男</span>
            </a>
                信誉值：<span th:text="${tenant.reputation}"/>分
            </p><br/>
            <div class="the-imgs">
                <div th:each='url:${contract.tenantInfo.split(",")}'>
                    <img class="imgs" th:src="@{/file/{imgname}(imgname=${url})}"/>
                </div>
            </div>
        </div>
    </div>
</form>
<div th:replace="~{fragments/footer :: footer}">...</div>
</body>
<script type="text/javascript">
    $(function() {
        $('.radio-box').labelauty();
    });
</script>
<script type="text/javascript">
    $(".pre").click(function () {
        var parent = $(this).next();
        var curr = parent.find(".active");
        var ob = null;
        if(curr.attr("alt")-1 < 0) {
            ob = parent.find("img:eq("+(parent.find("div:eq(0)").attr("name")-1)+")");
        }
        else{
            ob = parent.find("img:eq("+(curr.attr("alt")-1)+")");
        }
        ob.attr("class","active");
        ob.css("display","block");
        curr.attr("class","house_img");
        curr.css("display","none");
    });

    $(".next").click(function () {
        var parent = $(this).prev();
        var curr = parent.find(".active");
        var ob = null;
        var len = parent.find("div:eq(0)").attr("name");
        if((parseInt(curr.attr("alt"))+1) >= len) {
            ob = parent.find("img:eq(0)");
        }
        else{
            ob = parent.find("img:eq("+(parseInt(curr.attr("alt"))+1)+")");
        }
        ob.attr("class","active");
        ob.css("display","block");
        curr.attr("class","house_img");
        curr.css("display","none");
    });
</script>
</html>