<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>管理员咨询页</title>
    <meta charset="utf-8">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/sockjs-client/1.1.4/sockjs.min.js"></script>
    <script src="https://cdn.bootcss.com/stomp.js/2.3.3/stomp.min.js"></script>
    <style type="text/css">
        body{
            background-image: url(/images/bg.jpg);
        }
    </style>
</head>
<body>
<div id="main-content" class="container">
    <br/>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="connect">用户名：</label>
                <div class="input-group">
                    <input type="text" name="username" id="username" class="form-control" readonly="readonly"
                           th:value="${session.currUser.username}"/>
                    <span class="input-group-btn">
      <button id="connect" class="btn btn-default" type="submit" onclick="return connect();">连接</button>
      <button id="disconnect" class="btn btn-default" type="submit" disabled="disabled" onclick="return disconnect();">断开
      </button></span></div>
            </div>
        </div>
    </div>
    <br/><br/>
    <div class="row">
        <div class="col-md-2">
            <table id="userlist" class="table">
                <thead>
                <tr>
                    <th>在线用户</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="u:${onlines}" th:if="${onlines != null}">
                    <td>
                        <a href="javascript:void(0)" class="choose">
                            <img th:if="${u.head==null}" src="/images/head.jpg" alt="头像" style="width:40px;height:40px;object-fit: cover;"/>
                            <img th:if="${u.head!=null}" th:src="@{/file/{imgname}(imgname=${u.head})}" alt="头像" style="width:40px;height:40px;object-fit: cover;"/>
                            <span class="username" th:text="${u.username}"/>
                            <span class="count" th:id="'count'+${u.username}" style="color:red;"></span>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-5">
            <table id="privatechat" class="table">
                <thead>
                <tr>
                    <th id="privateuser">私信聊天</th>
                </tr>
                </thead>
                <tbody id="private" style="height:350px; overflow-y:auto; display:block; ">
                <tr th:each="u:${onlines}" th:if="${onlines != null}" th:id="'chat'+${u.username}" class="chatroom" style="width:600px;display: none;" ></tr>
                </tbody>
            </table>
            <div class="input-group" style="height: 74px">
                <textarea id="content" class="form-control" rows="3" style="resize: none;"
                          placeholder="单击一名在线用户，与其聊天吧...."></textarea>
                <span class="input-group-btn">
        <button id="sendtouser" class="btn btn-default" type="submit" disabled="disabled"
                style="height: 100%">发送</button>
                    <a href="/manager/index" style="margin-left:20px;display: inline-block;width:100px;height:60px;line-height:60px;font-size: 28px;text-align: center;background-color: #fdfdfd;color:black;">返回</a>
        </span>
            </div>
        </div>
    </div>
</div>
<br/>
</body>
<script type="text/javascript">
    $(function() {
        connect();
    });
</script>
<script type="text/javascript">
    var socket = null;
    var stompClient = null;
    var sessionId = null;
    var user1 = $("#username").val();
    var user2 = null;
    $(".choose").click(function () {
        user2 = $(this).children(".username").text();
        $(".chatroom").css('display','none');
        var id = "#chat"+user2;
        $(id).css('display','block');
        var id2 = "#count"+user2;
        $(id2).text("");
        //stompClient.send("/app/private", {}, JSON.stringify({'name': user1, 'content': "你好", 'receiver': user2}));
    });

    $("#sendtouser").click(function () {
        var ct = $("#content").val();
        if (ct != "" && user2 != null) {
            stompClient.send("/app/private", {}, JSON.stringify({'name': user1, 'content': ct, 'receiver': user2}));
        }
    });

    function connect() {
        setConnected(true);
        socket = new SockJS("/house/chat");
        stompClient = Stomp.over(socket);
        stompClient.connect({}, function (frame) {
            sessionId = /\/([^\/]+)\/websocket/.exec(socket._transport.url)[1];
            stompClient.subscribe('/user/topic/private', function (greeting) {
                var parse = JSON.parse(greeting.body);
                var val = '<td style="display: block;">' + parse.content + "</td>";
                var id = "#chat"+parse.name;
                var id2 = "#count"+parse.name;
                var con =$(id2).text();
                if(con == "") {
                    con = "1";
                }
                else{
                    con = parseInt(con)+1;
                }
                $(id2).text(con);
                $(id).append(val);
                if (user2 == null) {
                    user2 = parse.name;
                }
            });
            /*stompClient.subscribe('/user/topic/updateonline', function (greeting) {
                var parse = JSON.parse(greeting.body);
                $(".chatroom").append(parse.name);
            });*/
        });
    }

    function disconnect() {
        if (stompClient !== null) {
            stompClient.disconnect();
        }
        setConnected(false);
    }

    function setConnected(connected) {
        $("#connect").html('连接');
        if (connected) {
            $("#connect").html('成功');
        }
        $("#connect").prop("disabled", connected);
        $("#disconnect").prop("disabled", !connected);
        $("#sendtouser").prop("disabled", !connected);
    }
</script>
</html>
