<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/tenant/new_feedback.css" />
    <link rel="stylesheet" href="/css/jquery-labelauty.css">
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="/js/jquery-labelauty.js"></script>
    <script type="text/javascript" src="/js/tenant/new_feedback.js"></script>
</head>
<body>
<div th:replace="fragments/header :: header">...</div>
<div>
    <form th:action="@{/feedback/addFeedback}" th:object="${feedback}" method="post" enctype="multipart/form-data">
        <br/><br/><br/><br/><br/><br/><br/><br/>
        <span class="v">反馈类型</span>
        <ul class="dowebok">
            <li><input type="radio" class="radio-box" th:field="*{type}" value="0" checked data-labelauty="咨询"></li>
            <li><input type="radio" class="radio-box" th:field="*{type}" value="1" data-labelauty="建议"></li>
            <li><input type="radio" class="radio-box" th:field="*{type}" value="3" data-labelauty="投诉"></li>
            <li><input type="radio" class="radio-box" th:field="*{type}" value="4" data-labelauty="报修"></li>
        </ul>
        <div class="clear-box"></div><br/>
        <span class="v">反馈内容</span>
        <input  class="z" type="text" th:field="*{info}" /><br/><br/><br/><br/>
        <span class="v">附加图片</span>
        <div class="filebtn">
            <span class="fileinput-button">
                <span>点击上传照片</span>
                <input accept="image/*" name="fi" onchange="showImg(this);" type="file">
            </span>
        </div>
        <div class="clear-box"></div><br/><br/>
        <div id="img-box"></div>
        <div class="clear-box"></div>
        <input type="submit" value="提交" class="btn1"/>
        <input type="reset" value="取消" class="btn"/>
        <a href="/tenant/info" class="btn">返回</a>
    </form>
</div>
<div th:replace="~{fragments/footer :: footer}">...</div>
</body>
<script type="text/javascript">
    $(function() {
        $('.radio-box').labelauty();
    });
</script>
</html>