<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>租客个人主页</title>
    <link rel="stylesheet" type="text/css" href="/css/tenant/info.css" />
</head>
<body>
<div th:replace="fragments/header :: header">...</div>
<div class="left">
    <ul class="menu">
        <li><img src="/images/icon12.png" /><a>个人信息管理</a></li>
        <li><img src="/images/like.png" /><a>收藏管理</a></li>
        <li><img src="/images/step3.jpg" /><a>合同管理</a></li>
        <li><img src="/images/icon1.png" /><a>评价管理</a></li>
        <li><img src="/images/icon9.png" /><a>反馈管理</a></li>
        <li><img src="/images/icon8.png" /><a>钱包管理</a></li>
        <li><img src="/images/step2.jpg" /><a th:href="@{/landlord/chat}">联系管家</a></li>
    </ul>
</div>
<div th:replace="~{fragments/footer :: footer}">...</div>
</body>
</html>