<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>租客个人主页</title>
    <link rel="stylesheet"  href="/css/tenant/info.css" />
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="/js/tenant/info.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/flatpickr.material_blue.min.css" />
    <script src="/js/flatpickr.js"></script>
</head>
<body>
<div th:replace="fragments/header :: header">...</div>
<div class="left">
    <ul class="menu">
        <li><a th:href="@{/tenant/showContracts?(number=1,sta=0)}"><img src="/images/step3.jpg" />租房申请管理</a></li>
        <li><a th:href="@{/tenant/showContracts?(number=1,sta=1)}"><img src="/images/step3.jpg" />租房合同管理</a></li>
        <li><a th:href="@{/tenant/showContracts?(number=1,sta=2)}"><img src="/images/step3.jpg" />退房申请管理</a></li>
        <li><a><img src="/images/icon1.png" />评价管理</a></li>
        <li><a th:href="@{/tenant/feedback/show}"><img src="/images/icon9.png" />反馈管理</a></li>
        <li><a th:href="@{/tenant/showCollect}"><img src="/images/like.png" />收藏管理</a></li>
        <li><a th:href="@{/tenant/showUserInfo}"><img src="/images/icon12.png" />个人信息管理</a></li>
        <li><a><img src="/images/icon8.png" />钱包管理</a></li>
        <li><a th:href="@{/tenant/chat}"><img src="/images/step2.jpg" />联系管家</a></li>
    </ul>
</div>
<div class="right">
    <div class="house-manager" th:if="${collects != null && collects.size() gt 0}">
        <div class="house-box" th:each="house:${collects}">
            <div class="picbox" th:if="${house.urls != null}">
                <img src="/images/icon3.png"  style="visibility: hidden;" class="pre" th:if="${!house.urls.contains(',')}" />
                <img src="/images/icon3.png"  class="pre" th:if="${house.urls.contains(',')}" />
                <div class="box">
                    <div th:each='url,userStat:${house.urls.split(",")}' class="pics" th:name="${userStat.size}">
                        <img th:if="${userStat.index ==0 }" th:src="@{/file/{imgname}(imgname=${url})}" class="active" th:alt="${userStat.index}" style="display:block;"/>
                        <img th:if="${userStat.index !=0 }" th:src="@{/file/{imgname}(imgname=${url})}" class="house_img" th:alt="${userStat.index}" style="display: none;"/>
                    </div>
                </div>
                <img src="/images/icon5.png" class="next" style="visibility: hidden;" th:if="${!house.urls.contains(',')}" />
                <img src="/images/icon5.png" class="next" th:if="${house.urls.contains(',')}" />
            </div>
            <div class="clear-box"></div>
            <div class="content">
                <p>
                    <b th:text="${house.name}"></b>
                </p>
                <p>
                    <span th:text="${house.money}"/>元/月
                    <span th:text="${house.area}"/>m&sup2;
                    朝<span th:text="${house.orientation}"/>
                </p>
                <p>
                    <span th:switch="${house.type}">
                        <b th:case="0">友家托管</b>
                        <b th:case="1">整租托管</b>
                        <b th:case="0">豪宅托管</b>
                    </span>
                    <span th:switch="${house.cycle}">
                        <b th:case="1">日付</b>
                        <b th:case="30">月付</b>
                        <b th:case="90">季付</b>
                        <b th:case="180">半年付</b>
                        <b th:case="365">年付</b>
                    </span>
                </p>
            </div>
            <div class="house-operation">
                <input type="hidden" th:value="${house.houseId}"/>
                <a href="javascript:void(0);" class="like-op">
                    <img src="/images/liked.png" />
                </a>
                <a th:href="@{/contract/showNew?(hid=${house.houseId})}">详情</a>
            </div>
        </div>
    </div>
    <div class="user-manager" th:if="${curruser != null}">
        <form id="form" action="/tenant/updateUserInfo" th:object="${curruser}" enctype="multipart/form-data" method="post">
            <input type="hidden" th:field="*{userId}" th:value="${curruser.userId}" />
            用户名：&nbsp;&nbsp;<input class="field" readonly="readonly" type="text" th:field="*{username}" th:value="${curruser.username}" /><br/><br/>
            手机号码：&nbsp;&nbsp;<input class="field" type="text" th:field="*{phone}" th:value="${curruser.phone}" /><br/><span class="err"></span><br/>
            <br/>头像：&nbsp;&nbsp;
            <span class="fileinput-button">
            <span>更换头像</span>
                <input accept="image/*" name="headd" onchange="showHead(this);" type="file">
            </span><br/>
            <img src="" style="display: none" id="head-img" />
            <br/>身份证号：&nbsp;&nbsp;<input class="field" type="text" th:field="*{idcard}" th:value="${curruser.idcard}" /><br/><span class="err"></span><br/>
            身份证照片：&nbsp;&nbsp;
            <span class="fileinput-button">
            <span>上传身份证照片</span>
                <input accept="image/*" name="card" onchange="showCard(this);" type="file">
            </span><br/>
            <img src="" style="display: none" id="card-img" />
            <br/>出生日期：&nbsp;&nbsp;<input class="field" type="text" id="time" name="birthh" /><br/><span class="err"></span><br/>
            邮箱绑定：&nbsp;&nbsp;<input class="email" type="text" th:field="*{email}" th:value="${curruser.email}" /><br/><span class="emailerr"></span><br/>
            <div id="radiodiv">
                <div style="float:left">
                    <div class="div1">
                        <input id="item3" type="radio" th:field="*{sex}" value="0" checked="checked">
                        <label for="item3"></label>
                        <span>女</span>
                    </div>
                    <div class="div1">
                        <input id="item4" type="radio" th:field="*{sex}" value="1">
                        <label for="item4"></label>
                        <span>男</span>
                    </div>
                </div>
            </div><br/><br/>
            <div class="btndiv">
                <br/>
                <input class="btn" type="submit" value="修改" onclick="return checkUserInfo();">
                <input class="btn" type="reset" value="取消">
            </div>
        </form>
        <br/><br/><br/><br/>
        <form id="form2" action="/tenant/updateUserPassword"  method="post">
            原密码：&nbsp;&nbsp;&nbsp;<input class="field" type="password" name="oldPassword" /><br/><span class="err" id="old"></span><br/>
            新密码：&nbsp;&nbsp;&nbsp;<input class="field" type="password" name="pass" /><br/><span class="err" id="cu"></span><br/>
            确认密码:<input class="field" type="password" name="checkPassword" /><br/><span class="err" id="re"></span><br/>
            验证码：&nbsp;&nbsp;<input class="field" type="text" name="check" />
            <img src="/common/getCode"+new Date().getTime() id="checkImg" alt="验证码" />
            <input type="hidden" id="curr-email" th:value="${curruser.email}" />
            <button onclick="return checkCheckCode();"  id="mail-btn">获取邮箱验证码</button><br/><span class="err" id="ch"></span><br/>
            邮箱验证码：&nbsp;&nbsp;<input class="field" type="text" name="em"  /><br/><span class="err" id="emerr"></span><br/>
            <div class="btndiv">
                <br/>
                <input class="btn" type="submit" value="修改" onclick="return checkUserPassword();">
                <input class="btn" type="reset" value="取消">
            </div>
        </form>
    </div>
</div>
<div th:replace="~{fragments/footer :: footer}">...</div>
<script type="text/javascript">
    $(function() {
        $("#time").flatpickr();
    });
</script>
<script type="text/javascript">
    function checkCheckCode() {
        var check = document.getElementsByName("check")[0];
        var checkerr = document.getElementById("ch");
        if(check.value == null || check.value == ""){
            checkerr.innerHTML = "验证码不能为空";
            return false;
        }
        //验证码正则，4位数字
        var cPattern = /^[0-9]{4,4}$/;
        if(cPattern.test(check.value) == false){
            checkerr.innerHTML = "验证码错误";
            return false;
        }
        var rs = null;
        $.ajax({
            async : false,
            type : "get",
            url : "/common/checkCode?code="+check.value,
            dataType : "html",
            success : function (data) {
                rs = data;
            },
            error:function (data) {
                alert("系统错误，请稍候再试");
                return false;
            }
        });
        if(rs == "true") {
            $("#checkImg").attr('src', '/common/getCode?'+new Date().getTime());
            checkerr.innerHTML = "验证码正确";
            settime(10);
            var msg = document.getElementById("curr-email");
            $.ajax({
                async : false,
                type : "get",
                url : "/common/mail/getCode?email="+msg.value,
                dataType : "html",
                success : function (dataa) {
                    if(dataa == "success") {
                        alert("邮箱验证码发送成功，请注意查收");
                    }
                    if(dataa == "fail") {
                        alert("邮箱验证码发送失败，请稍候再试");
                    }
                },
                error:function (dataa) {
                    alert("系统错误，请稍候再试");
                    return false;
                }
            });
            return false;
        }
        else {
            checkerr.innerHTML = "验证码错误";
            return false;
        }
    }
    function checkUserPassword() {
        var old = document.getElementsByName("oldPassword")[0];
        var olderr = document.getElementById("old");
        if(old.value == null || old.value == ""){
            olderr.innerHTML = "原密码不能为空";
            return false;
        }
        var rss = null;
        $.ajax({
            async : false,
            type : "get",
            url : "/common/checkPassword?pass="+old.value,
            dataType : "html",
            success : function (data) {
                rss = data;
            },
            error:function (data) {
                alert("系统错误，请稍候再试");
                return false;
            }
        });
        if(rss == "false") {
            olderr.innerHTML = "原密码错误";
            return false;
        }

        var cu = document.getElementsByName("pass")[0];
        var cuerr = document.getElementById("cu");
        if(cu.value == null || cu.value == ""){
            cuerr.innerHTML = "密码不能为空";
            return false;
        }
        //密码强度正则，6-30，包括至少1个大写字母，1个小写字母，1个数字，1个特殊字符
        //var pPattern = /^.*(?=.{6,30})(?=.*\d)(?=.*[A-Z])(?=.*[a-z])(?=.*[!@#$%^&*? ]).*$/;
        /*if(pPattern.test(cu.value) == false){
            cuerr.innerHTML = "密码长度6-30，包括至少1个大写字母、小写字母、数字、特殊字符";
            return false;
        }*/
        var re = document.getElementsByName("checkPassword")[0];
        var reerr = document.getElementById("re");
        if(re.value == null || re.value == "" || re.value != cu.value){
            reerr.innerHTML = "密码不一致";
            return false;
        }
        var mail = document.getElementsByName("em")[0];
        var mailerr = document.getElementById("emerr");
        if(mail.value == null || mail.value == ""){
            mailerr.innerHTML = "验证码不能为空";
            return false;
        }
        //邮箱验证码正则，6位数字
        var cPattern = /^[0-9]{6,6}$/;
        if(cPattern.test(mail.value) == false){
            mailerr.innerHTML = "验证码错误";
            return false;
        }
        var rs = null;
        $.ajax({
            async : false,
            type : "get",
            url : "/common/checkMail?mail="+mail.value,
            dataType : "html",
            success : function (data) {
                rs = data;
            },
            error:function (data) {
                alert("系统错误，请稍候再试");
                return false;
            }
        });
        if(rs == "true") {
            return true;
        }
        mailerr.innerHTML = "验证码错误";
        return false;
    };
    function checkUserInfo() {
        var phone = document.getElementsByClassName("field")[1];
        var phoneerr = document.getElementsByClassName("err")[0];
        if(phone.value != null && phone.value != ""){
            //手机号码正则
            var uPattern = /^1[34578]\d{9}$/;
            if(uPattern.test(phone.value) == false){
                phoneerr.innerHTML = "手机号码格式不正确";
                return false;
            }
        }

        var card = document.getElementsByClassName("field")[2];
        var carderr = document.getElementsByClassName("err")[1];
        if(card.value != null && card.value != ""){
            //身份证号正则
            var uPattern = /(^\d{15}$)|(^\d{18}$)|(^\d{17}(\d|X|x)$)/;
            if(uPattern.test(card.value) == false){
                carderr.innerHTML = "身份证号码格式不正确";
                return false;
            }
        }

        var email = document.getElementsByClassName("email")[0];
        var emailerr = document.getElementsByClassName("emailerr")[0];
        if(email.value != null && email.value != ""){
            //邮箱正则
            var uPattern = /^([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+\.[a-zA-Z]{2,3}$/;
            if(uPattern.test(email.value) == false){
                emailerr.innerHTML = "邮箱格式不正确";
                return false;
            }
        }
    };

    function settime(val) {
        var btn = document.getElementById("mail-btn");
        if (parseInt(val) == 0) {
            btn.removeAttribute("disabled");
            btn.innerHTML="获取邮箱验证码";
        }
        else {
            btn.innerHTML="10秒后可重新发送";
            btn.setAttribute("disabled", true);
            val= parseInt(val)-1;
        }
        setTimeout(function() {
            settime(val)
        },1000)
    }
</script>
<script th:inline="javascript">
    /*<![CDATA[*/
    $(".like-op").click(function () {
        var hid = $(this).prev().val();
        //alert(hid);
        //var parent1 = $(this).parent().parent();
        //var parent2 = parent1.parent();
        var ob = $(this).children("img");
        var url = ob.attr("src");
        var val = 1;
        if(url == "/images/like.png") {
            val = 0;
        }
        $.ajax({
            async : false,
            type : "post",
            url : "/tenant/collectHouse",
            data: {hid:hid, val:val},
            dataType : "html",
            success : function (data) {
                if(data == "1") {
                    ob.attr("src","/images/liked.png");
                    //alert(ob.attr("src"));
                }
                else{
                    ob.attr("src","/images/like.png");
                    //parent2.remove(parent1);
                }
            },
            error:function (data) {
                alert("系统错误，请稍候再试");
                return false;
            }
        });
    });
    /*]]>*/
</script>
</body>
<script type="text/javascript">
    /*$("#checkImg").bind('click', function() {
        $("#checkImg").attr('src', '/common/getCode?'+new Date().getTime());
    });*/
    $(".pre").click(function () {
        //alert("执行");
        var parent = $(this).next();
        var curr = parent.find(".active");
        //alert(curr.attr("alt"));
        var ob = null;
        if(curr.attr("alt")-1 < 0) {
            ob = parent.find("img:eq("+(parent.find("div:eq(0)").attr("name")-1)+")");
        }
        else{
            ob = parent.find("img:eq("+(curr.attr("alt")-1)+")");
        }
        ob.attr("class","active");
        ob.css("display","block");
        curr.attr("class","house_img");
        curr.css("display","none");
    });

    $(".next").click(function () {
        var parent = $(this).prev();
        var curr = parent.find(".active");
        var ob = null;
        var len = parent.find("div:eq(0)").attr("name");
        if((parseInt(curr.attr("alt"))+1) >= len) {
            ob = parent.find("img:eq(0)");
        }
        else{
            ob = parent.find("img:eq("+(parseInt(curr.attr("alt"))+1)+")");
        }
        ob.attr("class","active");
        ob.css("display","block");
        curr.attr("class","house_img");
        curr.css("display","none");
    });
</script>
</html>