<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>合同管理页面</title>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/tenant/show_contract.css" />
    <script type="text/javascript" src="/js/tenant/show_contract.js"></script>
</head>
<body>
<div th:replace="fragments/header :: header">...</div>
<form action="/tenant/updateContract2" method="post" id="contract-form" enctype="multipart/form-data">
    <div th:if="${tenantContractPOJO==null}">
        <div style="text-align:center;width:100%;color:red;font-size:40px;">
            内容为空
        </div>
    </div>
    <div class="left-box" th:if="${tenantContractPOJO!=null}">
        <div th:if="${tenantContractPOJO.house != null}"  class="house-box">
            <div class="picbox" th:if="${tenantContractPOJO.house.urls != null}">
                <img src="/images/icon3.png"  style="visibility: hidden;" class="pre" th:if="${!tenantContractPOJO.house.urls.contains(',')}" />
                <img src="/images/icon3.png"  class="pre" th:if="${tenantContractPOJO.house.urls.contains(',')}" />
                <div class="box">
                    <div th:each='url,userStat:${tenantContractPOJO.house.urls.split(",")}' class="pics" th:name="${userStat.size}">
                        <img th:if="${userStat.index ==0 }" th:src="@{/file/{imgname}(imgname=${url})}" class="active" th:alt="${userStat.index}" style="display:block;"/>
                        <img th:if="${userStat.index !=0 }" th:src="@{/file/{imgname}(imgname=${url})}" class="house_img" th:alt="${userStat.index}" style="display: none;"/>
                    </div>
                </div>
                <img src="/images/icon5.png" class="next" style="visibility: hidden;" th:if="${!tenantContractPOJO.house.urls.contains(',')}" />
                <img src="/images/icon5.png" class="next" th:if="${tenantContractPOJO.house.urls.contains(',')}" />
            </div>
            <div class="clear-box"></div>
            <div class="content">
                <p>
                    <b th:text="${tenantContractPOJO.house.name}"></b>
                </p>
                <p>
                    <span th:text="${tenantContractPOJO.house.money}"/>元/月
                    <span th:text="${tenantContractPOJO.house.area}"/>m&sup2;
                    朝<span th:text="${tenantContractPOJO.house.orientation}"/>
                </p>
                <p>
                    <span th:switch="${tenantContractPOJO.house.type}">
                        <b th:case="0">友家托管</b>
                        <b th:case="1">整租托管</b>
                        <b th:case="0">豪宅托管</b>
                    </span>
                    <span th:switch="${tenantContractPOJO.house.cycle}">
                        <b th:case="1">日付</b>
                        <b th:case="30">月付</b>
                        <b th:case="90">季付</b>
                        <b th:case="180">半年付</b>
                        <b th:case="365">年付</b>
                    </span>
                </p>
                <p>
                    地址：<span th:text="${tenantContractPOJO.house.address}"/>
                </p>
            </div>
        </div>
    </div>
    <div class="right-box" th:if="${tenantContractPOJO!=null}">
        <div class="contract-box" th:if="${tenantContractPOJO.contract != null}">
            <p>
                <input type="hidden" name="cid" th:value="${tenantContractPOJO.contract.contractId}" />
                <input type="hidden" name="sta" th:value="${sta}" />
                起(退)租时间：<span th:text="${tenantContractPOJO.contract.stime}"/>&nbsp;&nbsp;
                结束时间：<span th:text="${tenantContractPOJO.contract.etime}"/>
            </p>
            <p>
                房东操作状态：
                <span th:if="${tenantContractPOJO.contract.landlordOperation == 0}">未处理</span>
                <span th:if="${tenantContractPOJO.contract.landlordOperation == 1}">完成</span>
                <span th:if="${tenantContractPOJO.contract.landlordOperation == 2}">同意</span>
                <span th:if="${tenantContractPOJO.contract.landlordOperation == 3}">拒绝</span>
                &nbsp;&nbsp;租客操作状态：
                <span th:if="${tenantContractPOJO.contract.tenantOperation == 0}">未处理</span>
                <span th:if="${tenantContractPOJO.contract.tenantOperation == 1}">完成</span>
                <span th:if="${tenantContractPOJO.contract.tenantOperation == 2}">同意</span>
                <span th:if="${tenantContractPOJO.contract.tenantOperation == 3}">拒绝</span>
                &nbsp;&nbsp;合同类型：
                <span th:if="${tenantContractPOJO.contract.type == 0}">租房</span>
                <span th:if="${tenantContractPOJO.contract.type == 1}">退房</span>
                &nbsp;&nbsp;合同状态：
                <span th:if="${tenantContractPOJO.contract.status == 0}">申请中</span>
                <span th:if="${tenantContractPOJO.contract.status == 1}">创建中</span>
                <span th:if="${tenantContractPOJO.contract.status == 2}">签约中</span>
                <span th:if="${tenantContractPOJO.contract.status == 3}">付款中</span>
                <span th:if="${tenantContractPOJO.contract.status == 4}">签约完成</span>
                <span th:if="${tenantContractPOJO.contract.status == 5}">正常结束</span>
                <span th:if="${tenantContractPOJO.contract.status == 6}">毁约申请中</span>
                <span th:if="${tenantContractPOJO.contract.status == 7}">退款处理中</span>
                <span th:if="${tenantContractPOJO.contract.status == 8}">毁约结束</span>
            </p>
            <p th:if="${tenantContractPOJO.contract.status == 2}">
                <a th:href="@{/contract/download?(url=${tenantContractPOJO.contract.file})}" id="download">下载合同</a>
            </p>
        </div>
        <div class="landlord-box" th:if="${tenantContractPOJO.landlord != null}">
            <p><a>
                <img class="head" th:if="${tenantContractPOJO.landlord.head==null}" src="/images/head.jpg" alt="头像" style="width:40px;height:40px;object-fit: cover;"/>
                <img class="head" th:if="${tenantContractPOJO.landlord.head!=null}" th:src="@{/file/{imgname}(imgname=${tenantContractPOJO.landlord.head})}" alt="头像" style="width:40px;height:40px;object-fit: cover;"/>
                <span th:text="${tenantContractPOJO.landlord.username}"/>
                <span th:if="${tenantContractPOJO.landlord.sex == 0}">女</span>
                <span th:if="${tenantContractPOJO.landlord.sex == 1}">男</span>
            </a>
                信誉值：<span th:text="${tenantContractPOJO.landlord.reputation}"/>分
            </p><br/>
        </div>
        <div class="tenant-box" th:if="${tenantContractPOJO.tenant != null}">
            <p><a>
                <img class="head" th:if="${tenantContractPOJO.tenant.head==null}" src="/images/head.jpg" alt="头像" style="width:40px;height:40px;object-fit: cover;"/>
                <img class="head" th:if="${tenantContractPOJO.tenant.head!=null}" th:src="@{/file/{imgname}(imgname=${tenantContractPOJO.tenant.head})}" alt="头像" style="width:40px;height:40px;object-fit: cover;"/>
                <span th:text="${tenantContractPOJO.tenant.username}"/>
                <span th:if="${tenantContractPOJO.tenant.sex == 0}">女</span>
                <span th:if="${tenantContractPOJO.tenant.sex == 1}">男</span>
            </a>
                账号：<span th:text="${tenantContractPOJO.tenant.userId}"/>
                钱包：<span th:text="${tenantContractPOJO.tenant.money}"/>元
                电话号码：<span th:text="${tenantContractPOJO.tenant.phone}"/>
                信誉值：<span th:text="${tenantContractPOJO.tenant.reputation}"/>分
            </p><br/>
            <div class="the-imgs" th:if='${tenantContractPOJO.contract.tenantInfo != null && tenantContractPOJO.contract.tenantInfo != "" }'>
                <div th:each='url:${tenantContractPOJO.contract.tenantInfo.split(",")}'>
                    <img class="imgs" th:src="@{/file/{imgname}(imgname=${url})}"/>
                </div>
            </div>
        </div>
        <div class="operate-box" th:if="${tenantContractPOJO.contract != null}">
            <a th:href="@{/tenant/showContractUpdate?(cid=${tenantContractPOJO.contract.contractId})}" th:if="${tenantContractPOJO.contract.status == 0 || tenantContractPOJO.contract.status==1}">修改</a>
            <a th:href="@{/tenant/deleteContract?(cid=${tenantContractPOJO.contract.contractId})}" th:if="${tenantContractPOJO.contract.status == 0 || tenantContractPOJO.contract.status==1}">删除</a>
            <a onclick="show2()" th:if="${tenantContractPOJO.contract.status == 2}">上传签字照</a>
            <a th:href="@{/tenant/payMoneyContract?(cid=${tenantContractPOJO.contract.contractId},sta=${sta},number=${contractPageInfo.pageNum})}" th:if="${tenantContractPOJO.contract.status==3&&tenantContractPOJO.contract.tenantOperation==0}">付款</a>
            <a onclick="show3()" th:if="${tenantContractPOJO.contract.status >= 4}">添加评论</a>
            <a onclick="show4()" th:if="${tenantContractPOJO.contract.status == 4}">申请退房</a>
            <a th:href="@{/tenant/getMoneyContract?(cid=${tenantContractPOJO.contract.contractId},sta=${sta},number=${contractPageInfo.pageNum})}" th:if="${tenantContractPOJO.contract.status==7&&tenantContractPOJO.contract.landlordOperation==1 &&tenantContractPOJO.contract.tenantOperation==0 }">收款</a>
            <a href="/tenant/info">返回</a>
        </div>
        <div class="page-box" th:if="${tenantContractPOJO!=null}">
            <input type="hidden" name="number" th:value="${contractPageInfo.pageNum}" />
            <div th:if="${contractPageInfo.hasPreviousPage}" class="pre-box">
                <a th:href="@{/tenant/showContracts?(number=${contractPageInfo.pageNum}-1,sta=${sta})}" aria-label="Previous">
                    <span aria-hidden="true">«</span>
                </a>
            </div>
            <div class="content-box"><span th:text="${contractPageInfo.pageNum}"></span>/<span th:text="${contractPageInfo.pages}"></span>页</div>
            <div th:if="${contractPageInfo.hasNextPage}" class="next-box">
                <a th:href="@{/tenant/showContracts?(number=${contractPageInfo.pageNum}+1,sta=${sta})}"  aria-label="Next">
                    <span aria-hidden="true">»</span>
                </a>
            </div>
        </div>
    </div>
    <div class="clear-box"></div>
    <div class="contract-info2" th:if="${tenantContractPOJO!=null}" style="display: none;">
        <br/>
        <p>请将合同文件下载后打印，并本人签字后拍照上传</p>
        <div class="filebtn2">
            <span class="fileinput-button2">
                <span>点击上传照片</span>
                <input accept="image/*" name="url2" onchange="showImgs2(this);" type="file" multiple="multiple">
            </span>
        </div>
        <div class="clear-box"></div><br/>
        <div id="img-box2"></div>
        <div class="clear-box"></div>
        <div class="new-operate2">
            <a onclick="return sub2();">提交</a>
            <a onclick="reset2()">取消</a>
        </div>
    </div>
    <div class="clear-box"></div>
    <div class="contract-info3" th:if="${tenantContractPOJO!=null}" style="display: none;">
        <br/><br/>
        <span class="cc" th:if="${tenantContractPOJO.contract.status == 4}">房源分数</span>
        <input th:if="${tenantContractPOJO.contract.status == 4}" type="text" name="grade" class="input3"/><br/><br/>
        <span class="cc">评论信息</span>
        <textarea name="info" class="textarea3"></textarea><br/><br/>
        <span class="cc">评论图片</span>
        <div class="filebtn3">
            <span class="fileinput-button3">
                <span>点击上传照片</span>
                <input accept="image/*" name="url3" onchange="showImg3(this);" type="file">
            </span>
        </div>
        <div id="img-box3"></div>
        <div class="clear-box"></div>
        <div class="new-operate3">
            <a onclick="return sub3();">评论</a>
            <a onclick="reset3()">取消</a>
        </div>
    </div>
    <div class="clear-box"></div>
    <div class="contract-info4" th:if="${tenantContractPOJO!=null}" style="display: none;">
        <br/><br/>
        <p>退房理由,上传图片格式证据，最多三张</p>
        <div class="filebtn4">
            <span class="fileinput-button4">
                <span>点击上传照片</span>
                <input accept="image/*" name="url4" onchange="showImgs4(this);" type="file" multiple="multiple">
            </span>
        </div>
        <div class="clear-box"></div><br/>
        <div id="img-box4"></div>
        <div class="clear-box"></div>
        <div class="new-operate4">
            <a onclick="return sub4();">申请</a>
            <a onclick="reset4()">取消</a>
        </div>
    </div>
    <div class="clear-box"></div>
    <div class="comment-box" th:if="${tenantContractPOJO!=null&&tenantContractPOJO.comments!=null&&tenantContractPOJO.comments.size()>0}">
        <br/>
        <div class="tit">----评论列表----</div>
        <div th:each="comment:${tenantContractPOJO.comments}" style="margin-top:10px;">
            <img  class="h" th:if="${comment.userId == tenantContractPOJO.landlord.userId}" src="/images/head.jpg" />
            <img class="h" th:if="${comment.userId == tenantContractPOJO.tenant.userId}" src="/images/head.jpg" />
            <span th:if="${comment.userId == tenantContractPOJO.landlord.userId}" th:text="${tenantContractPOJO.landlord.username}" />
            <span th:if="${comment.userId == tenantContractPOJO.tenant.userId}" th:text="${tenantContractPOJO.tenant.username}" />
            <span th:text="${comment.ctime}" /><br/><br/><br/>
            <textarea class="i" readonly="readonly" th:text="${comment.info}"></textarea>
            <img class="u" th:if="${comment.url!=null}" th:src="@{/file/{imgname}(imgname=${comment.url})}"/>
            <a class="op" th:if="${comment.userId == session.currUser.userId}" th:href="@{/tenant/comment/delete?(cid=${comment.commentId})}">删除</a>
        </div>
    </div>
</form>
<div th:replace="~{fragments/footer :: footer}">...</div>
</body>
<script type="text/javascript">
    var sub4 = function() {
        $("#contract-form").attr('action',"/tenant/updateContract4");
        $('#contract-form').submit();
    }
    var show4 = function() {
        $("#img-box4").css('display','block');
        $(".contract-info4").css('display','block');
    }
    var reset4 = function() {
        $("#img-box4").css('display',"none");
        $(".contract-info4").css('display','none');
    }
</script>
<script type="text/javascript">
    var sub3 = function() {
        if($(".textarea3").val().trim()=="") {
            alert("评论内容不能为空");
            return false;
        }
        $("#contract-form").attr('action',"/tenant/addComment");
        $('#contract-form').submit();
    }
    var show3 = function() {
        $("#img-box3").css('display','block');
        $(".contract-info3").css('display','block');
    }
    var reset3 = function() {
        $("#img-box3").css('display',"none");
        $(".contract-info3").css('display','none');
    }
</script>
<script type="text/javascript">
    var sub2 = function() {
        if($('#img-box2 img').length <= 0) {
            alert("请上传照片后提交");
            return false;
        }
        $("#contract-form").attr('action',"/tenant/updateContract2");
        $('#contract-form').submit();
    }
    var show2 = function() {
        $(".contract-info2").css('display','block');
    }
    var reset2 = function() {
        $("#img-box2").css('display',"none");
        $(".contract-info2").css('display','none');
    }
</script>
<script type="text/javascript">
    $(".pre").click(function () {
        var parent = $(this).next();
        var curr = parent.find(".active");
        var ob = null;
        if(curr.attr("alt")-1 < 0) {
            ob = parent.find("img:eq("+(parent.find("div:eq(0)").attr("name")-1)+")");
        }
        else{
            ob = parent.find("img:eq("+(curr.attr("alt")-1)+")");
        }
        ob.attr("class","active");
        ob.css("display","block");
        curr.attr("class","house_img");
        curr.css("display","none");
    });

    $(".next").click(function () {
        var parent = $(this).prev();
        var curr = parent.find(".active");
        var ob = null;
        var len = parent.find("div:eq(0)").attr("name");
        if((parseInt(curr.attr("alt"))+1) >= len) {
            ob = parent.find("img:eq(0)");
        }
        else{
            ob = parent.find("img:eq("+(parseInt(curr.attr("alt"))+1)+")");
        }
        ob.attr("class","active");
        ob.css("display","block");
        curr.attr("class","house_img");
        curr.css("display","none");
    });
</script>
</html>