<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>租客搜索页面</title>
    <link rel="stylesheet" type="text/css" href="/css/tenant/show_search.css" />
    <link rel="stylesheet" href="/css/jquery-labelauty.css">
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="/js/tenant/location.js"></script>
    <script src="/js/jquery-labelauty.js"></script>
</head>
<body>
<div th:replace="fragments/header :: header">...</div>
<div class="search">
    <form method="post" th:action="@{/common/all/search}" id="search-form">
        <input name="number" type="hidden" th:value="${number}" />
        <input name="pageType" type="hidden" th:value="search" />
        <div class="select">
            <select name="type">
                <option value="0" selected>合租</option>
                <option value="1">整租</option>
                <option value="2">豪宅</option>
            </select>
        </div>
        <input type="text" class="search-text" name="msg" placeholder="输入区域、地铁、小区名" />
        <a th:href="@{/common/map/show?city=北京&lng=116.413554&lat=39.911013}" title="地图找房" class="map-search"><img src="/images/map.gif" /></a>
        <button class="search_btn" type="submit" onclick="return checkSearch();">搜索</button>
        <div class="clear-box"></div>
        <div class="search-keys">
            <select id="province" name="province"></select>
            <select id="city" name="city"></select>
            <select id="area" name="area"></select>
            <select name="counts">
                <option value="0" selected>不限</option>
                <option value="1">1居</option>
                <option value="2">2居</option>
                <option value="3">3居</option>
                <option value="4">4居</option>
                <option value="5">4居以上</option>
            </select>
            <select name="orientation">
                <option value="0" selected>不限</option>
                <option value="东">东</option>
                <option value="南">南</option>
                <option value="西">西</option>
                <option value="北">北</option>
            </select>
            <select name="elevator">
                <option value="-1">不限</option>
                <option value="0" selected>电梯房</option>
                <option value="1">非电梯房</option>
            </select>
            <select name="cycle">
                <option value="0" selected>不限</option>
                <option value="1">天付</option>
                <option value="30">月付</option>
                <option value="90">季付</option>
                <option value="180">半年付</option>
                <option value="365">年付</option>
            </select>
        </div>
        <div class="clear-box"></div><br/>
        <div class="search2-keys">
            <span>面积：</span>
            <input type="number" min="0" name="area1">
            <span>~</span>
            <input type="number" min="0" name="area2">
            <span>m&sup2;</span>
            &nbsp;&nbsp;
            <span>租金：</span>
            <input type="number" min="0" name="money1">
            <span>~</span>
            <input type="number" min="0" name="money2">
            <span>元</span>
        </div>
        <div class="clear-box"></div><br/>
        <div class="search3-keys">
            <span>特色：</span>
            <ul class="dowebok">
                <li><input style="visibility: hidden" type="checkbox" name="words" value="不限" checked></li>
                <li><input type="checkbox" name="words" class="check-box" value="独立阳台" data-labelauty="独立阳台"></li>
                <li><input type="checkbox" name="words" class="check-box" value="独立卫生间" data-labelauty="独立卫生间"></li>
                <li><input type="checkbox" name="words" class="check-box" value="智能锁" data-labelauty="智能锁"></li>
                <li><input type="checkbox" name="words" class="check-box" value="地铁附近" data-labelauty="地铁附近"></li>
                <li><input type="checkbox" name="words" class="check-box" value="商场附近" data-labelauty="商场附近"></li>
                <li><input type="checkbox" name="words" class="check-box" value="设施齐全" data-labelauty="设施齐全"></li>
                <li><input type="checkbox" name="words" class="check-box" value="首次出租" data-labelauty="首次出租"></li>
                <li><input type="checkbox" name="words" class="check-box" value="精装修" data-labelauty="精装修"></li>
            </ul>
        </div>
        <div class="clear-box"></div>
        <div class="search4-keys">
            <span>排序方式：</span>
            <ul class="dowebok">
                <li><input type="radio" class="radio-box" name="show" value="money" checked data-labelauty="租金"></li>
                <li><input type="radio" class="radio-box" name="show" value="grade" data-labelauty="分数"></li>
                <li><input type="radio" class="radio-box" name="show" value="area" data-labelauty="面积"></li>
                <li><input type="radio" class="radio-box" name="sx" value="asc" checked data-labelauty="升序"></li>
                <li><input type="radio" class="radio-box" name="sx" value="desc" data-labelauty="降序"></li>
            </ul>
        </div>
        <div class="clear-box"></div>
    </form>
</div>
<div class="clear-box"></div>
<div class="page-box" th:if="${pageType eq 'search'}">
    <div th:if="${housePageInfo.hasPreviousPage}" class="pre-box">
        <a href="javascript:void(0);" onclick="pagePre()" aria-label="Previous">
            <span aria-hidden="true">«</span>
        </a>
    </div>
    <div class="content-box"><span th:text="${housePageInfo.pageNum}"></span>/<span th:text="${housePageInfo.pages}"></span>页</div>
    <div th:if="${housePageInfo.hasNextPage}" class="next-box">
        <a href="javascript:void(0);" onclick="pageNext()" aria-label="Next">
            <span aria-hidden="true">»</span>
        </a>
    </div>
</div>
<div class="clear-box"></div><br/>
<div class="house-manager">
        <div th:each="house:${housePageInfo.getList()}" th:if="${house != null}"  class="house-box">
            <div class="picbox" th:if="${house.urls != null}">
                <img src="/images/icon3.png" class="pre" />
                <div class="box">
                    <div th:each='url,userStat:${house.urls.split(",")}' class="pics" th:name="${userStat.size}">
                        <img th:if="${userStat.index ==0 }" th:src="@{/file/{imgname}(imgname=${url})}" class="active" th:alt="${userStat.index}" style="display:block;"/>
                        <img th:if="${userStat.index !=0 }" th:src="@{/file/{imgname}(imgname=${url})}" class="house_img" th:alt="${userStat.index}" style="display: none;"/>
                    </div>
                </div>
                <img src="/images/icon5.png" class="next" />
            </div>
            <div class="clear-box"></div>
            <div class="content">
                <p>
                    <b th:text="${house.name}"></b>
                </p>
                <p>
                    <span th:text="${house.money}"/>元/月
                    <span th:text="${house.area}"/>m&sup2;
                    朝<span th:text="${house.orientation}"/>
                </p>
                <p>
                    <span th:switch="${house.type}">
                        <b th:case="0">友家托管</b>
                        <b th:case="1">整租托管</b>
                        <b th:case="0">豪宅托管</b>
                    </span>
                    <span th:switch="${house.cycle}">
                        <b th:case="1">日付</b>
                        <b th:case="30">月付</b>
                        <b th:case="90">季付</b>
                        <b th:case="180">半年付</b>
                        <b th:case="365">年付</b>
                    </span>
                </p>
            </div>
            <div class="house-operation">
                <input type="hidden" th:value="${house.houseId}"/>
                <a href="javascript:void(0);" class="like-op">
                    <img th:if="${hids != null && hids.contains(house.houseId)}" src="/images/liked.png" />
                    <img th:if="${hids == null || !hids.contains(house.houseId)}" src="/images/like.png" />
                </a>
                <a th:href="@{/contract/showNew?(hid=${house.houseId})}">详情</a>
            </div>
        </div>
    </div>
<div th:replace="~{fragments/footer :: footer}">...</div>
</body>
<script th:inline="javascript">
    /*<![CDATA[*/
    $(".like-op").click(function () {
        var curr = [[${session.currUser}]];
        if(curr == null) {
            window.location.href="/common/showLogin";
        }
        else{
            var hid = $(this).prev().val();
            //alert(hid);
            var ob = $(this).children("img");
            var url = ob.attr("src");
            var val = 1;
            if(url == "/images/like.png") {
                val = 0;
            }
            $.ajax({
                async : false,
                type : "post",
                url : "/tenant/collectHouse",
                data: {hid:hid, val:val},
                dataType : "html",
                success : function (data) {
                    if(data == "1") {
                        ob.attr("src","/images/liked.png");
                        //alert(ob.attr("src"));
                    }
                    else{
                        ob.attr("src","/images/like.png");
                    }
                },
                error:function (data) {
                    alert("系统错误，请稍候再试");
                    return false;
                }
            });
        }
    });
    /*]]>*/
</script>
<script type="text/javascript">
    function pagePre() {
        $('input[name="number"]').val(parseInt($('input[name="number"]').val())-1);
        alert($('input[name="number"]').val());
        checkSearch();
        $('#search-form').submit();
    }
    function pageNext() {
        $('input[name="number"]').val(parseInt($('input[name="number"]').val())+1);
        alert($('input[name="number"]').val());
        checkSearch();
        $('#search-form').submit();
    }
    function checkSearch() {
        if($('input[name="area1"]').val() == "") {
            $('input[name="area1"]').val(0);
        }
        if($('input[name="area2"]').val() == "") {
            $('input[name="area2"]').val(0);
        }
        if($('input[name="money1"]').val() == "") {
            $('input[name="money1"]').val(0);
        }
        if($('input[name="money2"]').val() == "") {
            $('input[name="money2"]').val(0);
        }
    };
</script>
<script type="text/javascript">
    $(function() {
        addressInit('province', 'city', 'area');
        $('.check-box').labelauty();
        $('.radio-box').labelauty();
    });
</script>
<script type="text/javascript">

    $(".pre").click(function () {
        //alert("执行");
        var parent = $(this).next();
        var curr = parent.find(".active");
        var ob = null;
        if(curr.attr("alt")-1 < 0) {
            ob = parent.find("img:eq("+(parent.find("div:eq(0)").attr("name")-1)+")");
        }
        else{
            ob = parent.find("img:eq("+(curr.attr("alt")-1)+")");
        }
        ob.attr("class","active");
        ob.css("display","block");
        curr.attr("class","house_img");
        curr.css("display","none");
    });

    $(".next").click(function () {
        var parent = $(this).prev();
        var curr = parent.find(".active");
        var ob = null;
        var len = parent.find("div:eq(0)").attr("name");
        if((parseInt(curr.attr("alt"))+1) >= len) {
            ob = parent.find("img:eq(0)");
        }
        else{
            ob = parent.find("img:eq("+(parseInt(curr.attr("alt"))+1)+")");
        }
        ob.attr("class","active");
        ob.css("display","block");
        curr.attr("class","house_img");
        curr.css("display","none");
    });
</script>
</html>