<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div th:replace="fragments/header :: header">...</div>
<div>
    <form th:action="@{/user/listUser}"  method="get">
        <input name="number" type="hidden" th:value="1" />
        <input name="msg" type="text" />
        <input name="type" type="radio" value="id" checked="checked" />id查询<br/>
        <input name="type" type="radio" value="msg" />条件查询<br/>
        <input type="submit" value="搜索"/>
        <input type="reset" value="取消"/>
    </form>
    <table>
        <thead>
        <tr>
            <th>编号</th>
            <th>用户名</th>
            <th>用户类型</th>
            <th>电话号码</th>
            <th>用户状态</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user:${userPageInfo.getList()}" th:if="${user != null}">
            <td th:text="${user.userId}"></td>
            <td th:text="${user.username}"></td>
            <td th:text="${user.userType}"></td>
            <td th:text="${user.phone}"></td>
            <td th:text="${user.status}"></td>
            <td>
                <a th:href="@{/user/showUpdate?(id=${user.userId})}">更新</a>
                <a th:href="@{/user/deleteUser?(id=${user.userId})}">删除</a>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <div th:if="${userPageInfo.hasPreviousPage}">
            <a th:href="@{/user/listUser?(type=${type},msg=${msg},number=${userPageInfo.pageNum}-1)}" aria-label="Previous">
                <span aria-hidden="true">«</span>
            </a>
        </div>
        <span th:text="${userPageInfo.pageNum}"></span>/<span th:text="${userPageInfo.pages}"></span>页
        <div th:if="${userPageInfo.hasNextPage}">
            <a th:href="@{/user/listUser?(type=${type},msg=${msg},number=${userPageInfo.pageNum}+1)}" aria-label="Next">
                <span aria-hidden="true">»</span>
            </a>
        </div>
        </tfoot>
    </table>
</div>
<div th:replace="~{fragments/footer :: footer}">...</div>
</body>
</html>