<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/jquery-labelauty.css">
    <link rel="stylesheet" type="text/css" href="/css/manager/permission.css" />
    <script src="/js/jquery-labelauty.js"></script>
</head>
<body>
<div th:replace="fragments/header :: header">...</div>
<div>
    <div class="operate-box">
        <a th:href="@{/user/showAdd}">添加新用户</a>
        <a href="/manager/index">返回</a>
    </div>
    <form th:action="@{/user/listUser}"  method="get" class="search-form">
        <input name="number" type="hidden" th:value="1" />
        <input name="msg" type="text" class="msg-input" />
        <ul class="dowebok">
            <li><input type="radio" class="radio-box" name="type" value="id" checked data-labelauty="id查询"></li>
            <li><input type="radio" class="radio-box" name="type" value="msg" data-labelauty="条件查询"></li>
        </ul>
        <input type="submit" class="btn1" value="搜索"/>
        <input type="reset" class="btn2" value="取消"/>
    </form><br/><br/>
    <div class="clear-box"></div>
    <table class="table-box">
        <thead>
        <tr>
            <th>编号</th>
            <th>用户名</th>
            <th>用户类型</th>
            <th>用户状态</th>
            <th>用户信誉值</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user:${userPageInfo.getList()}" th:if="${user != null}">
            <td th:text="${user.userId}"></td>
            <td th:text="${user.username}"></td>
            <td th:text="${user.userType}"></td>
            <td th:text="${user.status}"></td>
            <td th:text="${user.reputation}"></td>
            <td>
                <a th:href="@{/user/showUpdate?(id=${user.userId})}">更新</a>
                <a th:href="@{/user/deleteUser?(id=${user.userId})}">删除</a>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="clear-box"></div>
    <div class="page-box">
        <div th:if="${userPageInfo.hasPreviousPage}" class="page">
            <a th:href="@{/user/listUser?(type=${type},msg=${msg},number=${userPageInfo.pageNum}-1)}" aria-label="Previous">
                <span aria-hidden="true">«</span>
            </a>
        </div>
        <div class="content-box"><span th:text="${userPageInfo.pageNum}"></span>/<span th:text="${userPageInfo.pages}"></span>页</div>
        <div th:if="${userPageInfo.hasNextPage}" class="page">
            <a th:href="@{/user/listUser(type=${type},msg=${msg},number=${userPageInfo.pageNum}+1)}" aria-label="Next">
                <span aria-hidden="true">»</span>
            </a>
        </div>
    </div>
</div>
<div th:replace="~{fragments/footer :: footer}">...</div>
</body>
<script type="text/javascript">
    $(function() {
        $('.radio-box').labelauty();
    });
</script>
</html>