<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap-validator/0.5.3/js/bootstrapValidator.min.js"></script>
</head>
<body>
<noscript>
    <h2 style="color:#ff0000">
        你的浏览器不支持JavaScript 或者关闭了JavaScript， 请启用JavaScript,重新加载！
    </h2>
</noscript>
<div  data-th-fragment="header" style="width:100%;height:40px;font-size:20px;line-height:40px;">
    <img src="/images/logo.png" style="margin-left:20px;height:30px;" />
    <div th:if="${session.currUser==null}" style="position: relative;float:right;margin-right:80px;">
        <a th:href="@{/common/tenant}" style="text-decoration: none;font-family:SimHei;color:rgba(0,0,0,0.69);">租房</a>
        <a th:href="@{/common/landlord}" style="text-decoration: none;font-family:SimHei;color:rgba(0,0,0,0.69);">发布房源</a>
        <a th:href="@{/common/showLogin}" style="text-decoration: none;font-family:SimHei;color:rgba(0,0,0,0.69);">登录</a>&nbsp;
        <a th:href="@{/common/showRegister}" style="text-decoration: none;font-family:SimHei;color:rgba(0,0,0,0.69);">注册</a>
    </div>
    <div th:if="${session.currUser!=null}" style="position: relative;float:right;margin-right:80px;">
        <a th:href="@{/common/tenant}" style="text-decoration: none;font-family:SimHei;color:rgba(0,0,0,0.69);">租房</a>
        <a th:href="@{/common/landlord}" style="text-decoration: none;font-family:SimHei;color:rgba(0,0,0,0.69);">发布房源</a>
        <a th:if="${session.currUser.userType == 0}" href="/manager/index" class="info" style="text-decoration: none;font-family:SimHei;color:rgba(0,0,0,0.69);">
            <img th:if="${session.currUser.head==null}" src="/images/head.jpg" alt="头像" style="width:40px;height:40px;object-fit: cover;"/>
            <img th:if="${session.currUser.head!=null}" th:src="@{/file/{imgname}(imgname=${session.currUser.head})}" alt="头像" style="width:40px;height:40px;object-fit: cover;"/>
            <span th:text="${session.currUser.username}"/></a>
        <a th:if="${session.currUser.userType == 1}" href="/tenant/info" class="info" style="text-decoration: none;font-family:SimHei;color:rgba(0,0,0,0.69);">
            <img th:if="${session.currUser.head==null}" src="/images/head.jpg" alt="头像" style="width:40px;height:40px;object-fit: cover;"/>
            <img th:if="${session.currUser.head!=null}" th:src="@{/file/{imgname}(imgname=${session.currUser.head})}" alt="头像" style="width:40px;height:40px;object-fit: cover;"/>
            <span th:text="${session.currUser.username}"/></a>
        <a th:if="${session.currUser.userType == 2}" href="/landlord/info" class="info" style="text-decoration: none;font-family:SimHei;color:rgba(0,0,0,0.69);">
            <img th:if="${session.currUser.head==null}" src="/images/head.jpg" alt="头像" style="width:40px;height:40px;object-fit: cover;"/>
            <img th:if="${session.currUser.head!=null}" th:src="@{/file/{imgname}(imgname=${session.currUser.head})}" alt="头像" style="width:40px;height:40px;object-fit: cover;"/>
            <span th:text="${session.currUser.username}"/></a>
        &nbsp;&nbsp;<a th:href="@{/common/logout}" style="text-decoration: none;font-family:SimHei;color:rgba(0,0,0,0.69);">注销</a>
    </div>
</div>
</body>
</html>