body{
    width:100%;
    height:400px;
    background-image: url(/images/bg.jpg);
    color:rgba(0,0,0,0.69);
}
#form{
    font-size:24px;
    font-family:SimHei;
    text-align:center;
    margin:200px auto;
    width:500px;
}
.field{
    border:1px #5d9aff;
    opacity:0.5;
    width:300px;
    height:32px;
    border-radius:10px;
}
.field:focus {
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
    border-radius:10px;
}
#checkImg{
    float:right;
    margin-right:62px;
    margin-top:-33px;
}
.btn{
    border:1px #5d9aff;
    opacity:0.7;
    width:140px;
    height:32px;
    border-radius:8px;
    font-size:20px;
}
.err{
    color:red;
    font-size:12px;
}