<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div th:replace="fragments/header :: header">...</div>
<div>
    <a href="/role/showAdd">添加角色</a>
    <form th:action="@{/role/listRole}"  method="get">
        <input name="number" type="hidden" th:value="1" />
        <input name="msg" type="text" />
        <input name="type" type="radio" value="id" checked="checked" />id查询<br/>
        <input name="type" type="radio" value="msg" />条件查询<br/>
        <input type="submit" value="搜索"/>
        <input type="reset" value="取消"/>
    </form>
    <table>
        <thead>
        <tr>
            <th>编号</th>
            <th>角色名称</th>
            <th>角色状态</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="role:${rolePageInfo.getList()}" th:if="${role != null}">
            <td th:text="${role.roleId}"></td>
            <td th:text="${role.name}"></td>
            <td th:text="${role.status}"></td>
            <td>
                <a th:href="@{/role/showUpdate?(id=${role.roleId})}">更新</a>
                <a th:href="@{/role/deleteRole?(id=${role.roleId})}">删除</a>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <div th:if="${rolePageInfo.hasPreviousPage}">
            <a th:href="@{/role/listRole?(type=${type},msg=${msg},number=${rolePageInfo.pageNum}-1)}" aria-label="Previous">
                <span aria-hidden="true">«</span>
            </a>
        </div>
        <span th:text="${rolePageInfo.pageNum}"></span>/<span th:text="${rolePageInfo.pages}"></span>页
        <div th:if="${rolePageInfo.hasNextPage}">
            <a th:href="@{/role/listRole?(type=${type},msg=${msg},number=${rolePageInfo.pageNum}+1)}" aria-label="Next">
                <span aria-hidden="true">»</span>
            </a>
        </div>
        </tfoot>
    </table>
</div>
<div th:replace="~{fragments/footer :: footer}">...</div>
</body>
</html>