<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yuan.house.dao.CollectDao">

    <insert id="addHouseCollect" parameterType="Long">
        INSERT INTO collect
        (
            user_id, house_id
        )
        VALUES
        (
            #{uid}, #{hid}
        )
    </insert>

    <delete id="deleteHouseCollect" parameterType="Long">
        DELETE FROM collect WHERE house_id = #{hid} and user_id = #{uid}
    </delete>

    <select id="queryCollectByUserAndHouse" resultType="Long">
        SELECT
        collect_id
        FROM collect
        WHERE house_id = #{hid} and user_id = #{uid}
    </select>

    <select id="queryCollectHouseIdsByUser" resultType="Long">
        SELECT
        house_id
        FROM collect
        WHERE user_id = #{uid}
    </select>
</mapper>