<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yuan.house.dao.CommentDao">

    <insert id="addCommentByTenant" parameterType="com.yuan.house.model.Comment">
        INSERT INTO comment
        (
        user_id, contract_id, info, url
        <if test="object.houseGrade != 0">
            , house_grade
        </if>
        )
        VALUES
        (
         #{object.userId},#{object.contractId}, #{object.info},
         #{object.url}
        <if test="object.houseGrade != 0">
            ,#{object.houseGrade}
        </if>
        )
    </insert>

    <insert id="addCommentByLandlord" parameterType="com.yuan.house.model.Comment">
        INSERT INTO comment
        (
        user_id, contract_id, info, url
        <if test="object.userGrade != 0">
            , user_grade
        </if>
        )
        VALUES
        (
        #{object.userId},#{object.contractId}, #{object.info},
        #{object.url}
        <if test="object.userGrade != 0">
            ,#{object.userGrade}
        </if>
        )
    </insert>

    <select id="queryHouseCommentCount" resultType="Integer">
        SELECT
        count(contract_id)
        FROM
        comment
        WHERE
        contract_id in (select contract_id from contract where house_id in (select house_id from contract where contract_id = #{cid}))
    </select>

    <update id="updateHouseGrade">
        UPDATE house
        SET grade = <![CDATA[grade+ ((#{grade}-grade)/(#{count}+1))]]>
        WHERE house_id in (select house_id from contract where contract_id =#{cid})
    </update>

    <select id="queryLandlordCommentCount"  resultType="Integer">
        SELECT
        count(contract_id)
        FROM
        comment
        WHERE
        contract_id in (select contract_id from contract where house_id in (select house_id from house where user_id = #{uid}))
    </select>

    <select id="queryTenantCommentCount"  resultType="Integer">
        SELECT
        count(contract_id)
        FROM
        comment
        WHERE
        contract_id in (select contract_id from contract where  user_id = #{uid})
    </select>

    <update id="updateLandlordGrade">
        UPDATE user
        SET reputation = <![CDATA[reputation+ ((#{grade}-reputation)/(#{count}+1))]]>
        WHERE user_id =#{uid}
    </update>

    <update id="updateTenantGrade">
        UPDATE user
        SET reputation = <![CDATA[reputation+ ((#{grade}-reputation)/(#{count}+1))]]>
        WHERE user_id =#{uid}
    </update>

    <select id="queryCommentsByContract" resultType="com.yuan.house.model.Comment">
        SELECT
        *
        FROM
        comment
        WHERE
        contract_id = #{cid}
        order by comment_id asc
    </select>

    <select id="queryCommentsByHouse" resultType="com.yuan.house.POJO.CommentPOJO">
        SELECT
        comment.*,user.username,user.head
        FROM
        comment,user
        WHERE
        user.user_id = comment.user_id
        and
        contract_id in
        (select contract_id from contract where house_id =#{hid})
        order by comment_id asc
    </select>

    <delete id="deleteComment" parameterType="Long">
        DELETE FROM comment WHERE comment_id = #{cid}
    </delete>
</mapper>