<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yuan.house.dao.ContractDao">

    <sql id="allColumns2">
        house_id, user_id, doorplate, name, orders, type, kind, money, cycle,
        area, floor, elevator, orientation, address, description, words,
        urls, grade, longitude, latitude, status
    </sql>

    <sql id="allColumns">
    </sql>

    <select id="queryContractById" resultType="com.yuan.house.model.Contract">
        SELECT
        *
        FROM contract
        WHERE contract_id = #{id}
    </select>

    <select id="queryHouseIDByContract" resultType="Long">
        SELECT
        house_id
        FROM contract
        WHERE contract_id = #{id}
    </select>


    <insert id="createNewContractByTenant" parameterType="com.yuan.house.model.Contract">
        INSERT INTO contract
        (
        house_id, user_id, stime, etime, ctime, tenant_operation, type, status, tenant_info
        )
        VALUES
        (
         #{object.houseId},#{object.userId}, #{object.stime},
         #{object.etime},#{object.ctime}, #{object.tenantOperation},
          #{object.type},#{object.status},#{object.tenantInfo}
        )
    </insert>

    <select id="queryContractsByTenant" resultType="com.yuan.house.model.Contract">
        SELECT
        *
        FROM contract
        WHERE user_id = #{uid}
        <if test="sta == 0">
            and (status = 0 or status = 1)
        </if>
        <if test="sta == 1">
            and (
            status = 2 or status = 3 or
            status = 4 or status = 5
            )
        </if>
        <if test="sta == 2">
            and (
            status = 6 or status = 7 or status = 8
            )
        </if>
    </select>

    <select id="queryContractsByLandlord" resultType="com.yuan.house.model.Contract">
        SELECT
        *
        FROM contract
        WHERE house_id in
        (
          select house_id from house where user_id = #{uid}
        )
        <if test="sta == 0">
            and (status = 0 or status = 1)
        </if>
        <if test="sta == 1">
            and (
            status = 2 or status = 3 or
            status = 4 or status = 5
            )
        </if>
        <if test="sta == 2">
            and (
            status = 6 or status = 7 or status = 8
            )
        </if>
    </select>

    <select id="queryAllContract" resultType="com.yuan.house.model.Contract">
        SELECT
        *
        FROM contract
    </select>

    <delete id="deleteContract" parameterType="Long">
        DELETE FROM contract WHERE contract_id = #{id}
    </delete>

    <update id="updateContractByTenant" parameterType="com.yuan.house.model.Contract">
        UPDATE contract
        SET stime = #{object.stime}, etime = #{object.etime},landlord_operation = #{object.landlordOperation},
        tenant_operation = #{object.tenantOperation}, type = #{object.type},
        status = #{object.status}, tenant_info = #{object.tenantInfo}
        WHERE contract_id = #{object.contractId}
    </update>

    <update id="updateContractByTenant2" parameterType="com.yuan.house.model.Contract">
        UPDATE contract
        SET
        tenant_operation = #{object.tenantOperation}, type = #{object.type},
        status = #{object.status}, tenant_info = #{object.tenantInfo}
        WHERE contract_id = #{object.contractId}
    </update>

    <update id="updateContractByTenant3" parameterType="com.yuan.house.model.Contract">
        UPDATE contract
        SET
        tenant_operation = #{object.tenantOperation}, type = #{object.type},
        status = #{object.status}
        WHERE contract_id = #{object.contractId}
    </update>

    <update id="updateContractByLandlord2" parameterType="com.yuan.house.model.Contract">
        UPDATE contract
        SET
        landlord_operation = #{object.landlordOperation}, type = #{object.type},
        status = #{object.status}, landlord_info = #{object.landlordInfo}
        WHERE contract_id = #{object.contractId}
    </update>

    <update id="updateContractByLandlordWithAgree" parameterType="com.yuan.house.model.Contract">
        UPDATE contract
        SET landlord_operation = #{object.landlordOperation},
        type = #{object.type},status = #{object.status}, landlord_info = #{object.landlordInfo}
        WHERE contract_id = #{object.contractId}
    </update>

    <update id="updateContractByLandlordWithRefuse" parameterType="com.yuan.house.model.Contract">
        UPDATE contract
        SET landlord_operation = #{object.landlordOperation},
        type = #{object.type},status = #{object.status}
        WHERE contract_id = #{object.contractId}
    </update>

    <update id="updateContractByManagerWithAgree" parameterType="com.yuan.house.model.Contract">
        UPDATE contract
        SET landlord_operation = #{object.landlordOperation},tenant_operation = #{object.tenantOperation},
        type = #{object.type},status = #{object.status}, file = #{object.file}
        WHERE contract_id = #{object.contractId}
    </update>

    <update id="updateContractByManagerWithAgree2" parameterType="com.yuan.house.model.Contract">
        UPDATE contract
        SET landlord_operation = #{object.landlordOperation},tenant_operation = #{object.tenantOperation},
        type = #{object.type},status = #{object.status}
        WHERE contract_id = #{object.contractId}
    </update>

    <update id="updateContractByManagerWithRefuse" parameterType="com.yuan.house.model.Contract">
        UPDATE contract
        SET landlord_operation = #{object.landlordOperation},tenant_operation = #{object.tenantOperation},
        type = #{object.type},status = #{object.status}
        WHERE contract_id = #{object.contractId}
    </update>
</mapper>