<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yuan.house.dao.ContractDao">

    <sql id="allColumns2">
        house_id, user_id, doorplate, name, orders, type, kind, money, cycle,
        area, floor, elevator, orientation, address, description, words,
        urls, grade, longitude, latitude, status
    </sql>

    <sql id="allColumns">
    </sql>

    <select id="queryContractById" resultType="com.yuan.house.model.Contract">
        SELECT
        *
        FROM contract
        WHERE contract_id = #{id}
    </select>


    <insert id="createNewContractByTenant" parameterType="com.yuan.house.model.Contract">
        INSERT INTO contract
        (
        house_id, user_id, stime, etime, ctime, tenant_operation, type, status, tenant_info
        )
        VALUES
        (
         #{object.houseId},#{object.userId}, #{object.stime},
         #{object.etime},#{object.ctime}, #{object.tenantOperation},
          #{object.type},#{object.status},#{object.tenantInfo}
        )
    </insert>

</mapper>