<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yuan.house.dao.UserDao">

    <sql id="allColumns">
        user_id, username, password, user_type, status,
        ctime, utime, head, money, phone, email, reputation
    </sql>

    <select id="getAllUsers" resultType="com.yuan.house.model.User">
        SELECT
        <include refid="allColumns"/>
        FROM user
        WHERE status = 0
        ORDER BY user_id ASC
    </select>

    <select id="queryUserById" resultType="com.yuan.house.model.User">
        SELECT
        *
        FROM user
        WHERE status = 0
        AND user_id = #{id}
        ORDER BY user_id ASC
    </select>

    <select id="queryUserByName" resultType="com.yuan.house.model.User">
        SELECT
        <include refid="allColumns"/>
        FROM user
        WHERE username = #{name}
    </select>

    <select id="queryUserLikeMsg" resultType="com.yuan.house.model.User">
        SELECT
        <include refid="allColumns"/>
        FROM user
        WHERE status = 0 AND
        (
        username LIKE CONCAT(CONCAT('%', #{msg}), '%')
        OR ctime LIKE binary CONCAT(CONCAT('%', #{msg}), '%')
        OR utime LIKE binary CONCAT(CONCAT('%', #{msg}), '%')
        OR phone LIKE CONCAT(CONCAT('%', #{msg}), '%')
        OR idcard LIKE CONCAT(CONCAT('%', #{msg}), '%')
        )
        ORDER BY user_id ASC
    </select>

    <insert id="addUser" parameterType="com.yuan.house.model.User">
        INSERT INTO user
        (username, password, user_type, status, ctime, utime, head, money,
        phone, idcard, photo, birth, sex, reputation, email)
        VALUES
        (#{object.username}, #{object.password}, #{object.userType},
        #{object.status}, #{object.ctime}, #{object.utime}, #{object.head},
        #{object.money}, #{object.phone}, #{object.idcard}, #{object.photo},
        #{object.birth}, #{object.sex}, #{object.reputation}, #{object.email})
    </insert>

    <update id="updateUser" parameterType="com.yuan.house.model.User">
        UPDATE user
        SET username = #{object.username}, password = #{object.password}, user_type = #{object.userType},
        status = #{object.status}, ctime = #{object.ctime}, utime = #{object.utime}, head = #{object.head},
        money = #{object.money}, phone = #{object.phone}, idcard = #{object.idcard}, photo = #{object.photo},
        birth = #{object.birth}, sex = #{object.sex}, reputation = #{object.reputation},email = #{object.email}
        WHERE user_id = #{object.userId}
    </update>

    <update id="updateUserInfo" parameterType="com.yuan.house.model.User">
        UPDATE user
        SET
        head = #{object.head}, phone = #{object.phone}, idcard = #{object.idcard}, photo = #{object.photo},
        birth = #{object.birth}, sex = #{object.sex}, email = #{object.email}
        WHERE user_id = #{object.userId}
    </update>

    <update id="updateUserPassword">
        UPDATE user
        SET
        password = #{pass}
        WHERE user_id = #{uid}
    </update>

    <delete id="deleteUser" parameterType="Long">
        DELETE FROM user WHERE user_id = #{id}
    </delete>

    <select id="getUser" resultType="com.yuan.house.model.User">
        SELECT
        <include refid="allColumns"/>
        FROM
        user
        WHERE username = #{username}
        AND password = #{password}
        AND status = 0;
    </select>

    <delete id="deleteUserRole" parameterType="Long">
        DELETE FROM user_role WHERE user_id = #{id}
    </delete>


    <insert id="addUserRole" parameterType="com.yuan.house.model.UserRole">
        INSERT INTO user_role
        (user_id, role_id)
        VALUES
        (#{object.userId}, #{object.roleId})
    </insert>

    <select id="getUsersByRole" resultType="com.yuan.house.model.User">
        SELECT
        <include refid="allColumns"/>
        FROM
        user
        WHERE
        user_id in (
          select user_id from user_role where role_id in (
            select role_id from role where name = #{name}
          )
        )
        AND status = 0;
    </select>
</mapper>