body {
    width: 100%;
    height: 400px;
    /*background-image: url(/images/bg.jpg);*/
    color: rgba(0, 0, 0, 0.69);
    font-family: SimHei;
}

li {
    list-style: none;
}

.clear-box {
    clear: both;
}

.menu img {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.menu a {
    width: 200px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    color: #404040;
    display: block;
}


.right {
    margin-top:-300px;
    margin-left:240px;
}

.house-manager {
    margin-left: 80px;
}

.house-manager .house-box {
    width: 300px;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.house-manager .picbox .pics img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.house-manager .pre {
    width: 60px;
    height: 60px;
    object-fit: cover;
    float: left;
    z-index: 10;
    padding-top: 120px;
}

.house-manager .box {
    position: absolute;
    z-index: -1;
}

.house-manager .next {
    width: 60px;
    height: 60px;
    object-fit: cover;
    float: left;
    z-index: 10;
    margin-top: 130px;
    margin-left: 160px;
}

.house-manager .content {
    width: 300px;
    margin-top: 110px;
    background-color: rgba(89, 151, 136, 0.76);
}

.house-manager .content p {
    text-align: center;
    height: 16px;
    line-height: 16px;
}

.house-manager .house-operation {
    width: 300px;
    background-color: rgba(89, 151, 136, 0.76);
    height: 60px;
    line-height: 40px;
    margin-top: -16px;
}

.house-manager .house-operation img{
    width:20px;
    height:20px;
    padding-left: 60px;
    object-fit: cover;
}

.house-manager .house-operation a {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 80px;
    text-align: center;
    font-size: 24px;
    text-decoration: none;
    color: #284390;
    margin-right: 10px;
    float: left;
}

#form,#form2{
     font-size:24px;
     font-family:SimHei;
     text-align:center;
     margin-top:20px;
     margin-left:100px;
     width:500px;
}
#form .field, .email, #form2 .field{
    border:1px #5d9aff solid;
    opacity:0.5;
    width:300px;
    height:32px;
    border-radius:10px;
}
#form .field:focus, .email:focus, #form2 .field:focus{
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
    border-radius:10px;
}
#checkImg{
    float:right;
    margin-right:48px;
    margin-top:-33px;
}
#form .btn, #form2 .btn{
    border:1px #5d9aff;
    opacity:0.7;
    width:140px;
    height:32px;
    border-radius:8px;
    font-size:20px;
}
#form  #radiodiv{
    margin:0px auto;
    width:500px;
    padding-left:100px;
    font-size:18px;
}
#form .div1{
    position: relative;
    line-height: 20px;
    margin-left: 40px;
}
#form input[type="radio"] {
    width: 20px;
    height: 20px;
    opacity: 0;
}
#form label, #form2 label {
    position: absolute;
    left: 5px;
    top: 3px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #999;
}

/*设置选中的input的样式*/
/* + 是兄弟选择器,获取选中后的label元素*/
#form input:checked+label, #form2 input:checked+label {
    background-color: #5d9aff;
    border: 1px solid #5d9aff;
}

#form input:checked+label::after, #form2 input:checked+label::after {
    position: absolute;
    content: "";
    width: 5px;
    height: 10px;
    top: 3px;
    left: 6px;
    border: 2px solid #fff;
    border-top: none;
    border-left: none;
    transform: rotate(45deg)
}
#form .btndiv， #form2 .btndiv{
    clear:both;
    width:500px;
    margin:20px auto;
}
.err, .emailerr{
    color:red;
    font-size:12px;
}

.fileinput-button {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width:140px;
    height:40px;
    line-height: 40px;
    font-size:20px;
    background-color: rgba(68, 115, 103, 0.68);
}

.fileinput-button input {
    position: absolute;
    right: 0px;
    top: 0px;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
}

#mail-btn{
    float:left;
    width:160px;
    height:32px;
    line-height: 32px;
    font-size:16px;
    color:black;
    border: none;
    margin-left:600px;
    margin-top:-32px;
    background-color: rgba(89, 151, 136, 0.76);
}